<div id="modificar_contrasena">
    <% if !@usuario.nil? %>
      <% if !@usuario.empleado.nil?%>
        <%= form_tag :controller => 'usuarios_administrativos', :action => 'cambiar', :method => 'post' do |us| %>
          <div class="row">  
            <div class="col-md-2">
              <b>Usuario:</b><br>
              <b>Perfil:</b><br>
              <b>Nombre:</b><br>
              <b>Rut:</b><br>
              <b>Empresa:</b><br>
              <b>Contratista:</b><br>

            </div>
            <div class="col-md-3">
              <%= @usuario.email %><br>
              <%= @usuario.perfil.nombre %><br>
              <%= @usuario.empleado.nombre_completo %><br>
              <%= @usuario.empleado.rut %><br>
              <%= @usuario.empleado.subempresa.razon_social %><br>
              <%= @usuario.empleado.contratistum.nombre %>
            </div>
              <div class="col-md-4">
                <b>Nueva Contraseña: </b><br>
                <%= hidden_field_tag :id, @usuario.id %>
                <%= password_field_tag  :password, "",  :class => 'form-control', size: 20, :required => true %>
                <br>
              </div>
              <div class="col-md-3">
                  <br>
                  <input class="form-check-input" type="checkbox" onclick="handleClick(this);">
                  <label class="form-check-label" for="inlineFormCheck">
                    Ver contraseña
                  </label>
                  <br><br><hr>
                  <div class="float-right">
                      <button onclick="actualizarContrasena();" type="button" class="btn btn-warning btn-sm"><span class="mdi mdi-content-save"></span>Guardar</button>
                      <button onclick="cancelar();" type="button" class="btn btn-danger btn-sm"><span class="mdi mdi-close-box"></span>Cerrar</button>
                  </div>
                </div>
              </div>
            </div>              
        <%end%>
      <% end %>
    <% end %>
  </div>
  
  <!-- # > Funciones JS -->
  <script type="text/javascript">
  
    // > Envia Datos para Actualizar contrasela
    function actualizarContrasena(){
      var contrasena = document.getElementById("password").value;
      if (contrasena == "" ){
        Push.create("Fastbilling dice: ", {
          body: "Debe ingresar una contraseña",
          icon: "<%= asset_path('error.png') %>",
          timeout: 4000,
          onClick: function () {
            window.focus();
            this.close();
          }
        })
        return false;
      }
      else
      {
        var x = document.getElementsByTagName("form");
        x[0].submit();
      }
    }
  
    // > Salir del Modal
    function cancelar(){
      $('#modal_modificar_contrasena').modal('hide');
    }

    function handleClick(cb) {
      if(cb.checked)
        $('#password').attr("type","text");
      else
        $('#password').attr("type","password");
    }
  
  </script>