<div id="form-lectura-dictada">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <%- if !@ordenLectura.nil? %>
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                        <h5 for="card-header" style="text-align: center;">Ingrese lectura dictada</h5><hr>
                      <input id="lectura-dictada" type="number" class="form-control"><br>
                      <button onclick="agregarLecturaDictada('<%= @ordenLectura.id %>');" class="btn btn-success form-control"><span class="mdi mdi-plus-circle mdi-8px"></span> Guardar Lectura</button>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <h5 for="card-header" style="text-align: center;">Agregar fotografía</h5><hr>
                            <input type="file" id="exampleInputFile">
                            <p style="font-size:10px;" class="help-block">Agregue fotografia enviada por cliente</p>
                          </div>
                      <button class="btn btn-success form-control"><span class="mdi mdi-plus-circle mdi-8px"></span> Guardar Fotógrafia</button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <% end %>

        </div>
      </div>
    </div>
    <div>
      <%= render 'alertas' %>
    </div>
  
  <!-- Realizar carga de imagenes-->
  <script>
      function agregarLecturaDictada(orden_id){
        var lectura_dictada = document.getElementById("lectura-dictada").value;
        if (lectura_dictada == ""){
          Push.create("Error de Busqueda", {
            body: "Ingrese: LECTURA DICTADA POR CLIENTE",
            icon: "<%= asset_path('warning.png') %>",
            timeout: 5000,
            onClick: function () {
              window.focus();
              this.close();
            }
          })
        }
        else{
          $.ajax({
            url: "<%=url_for :controller => 'lectura_dictada_cliente',:action => 'agregar_lectura_dictada' %>",
            data: 'lectura_dictada=' + encodeURIComponent(lectura_dictada) +
                  '&orden_id=' + encodeURIComponent(orden_id),         
            cache: false,
            success: function(data) {}
          })
        } 
      }
    </script>
</div>
  
