<title>Lecturas dictada por Cliente</title>
<div class="container">
    <div class="card">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
        <li class="breadcrumb-item">Lectura </li>
        <li class="breadcrumb-item">Análisis Online </li>
        <li class="breadcrumb-item active">Lectura Dictada por Cliente</li>
      </ol>
    </div>
  <br>
  <div class="card">
    <div class="card-header"><b>Buscador</b> <span class="mdi mdi-magnify"></span></div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Radios" id="exampleRadios1" value="1" checked>
            <label class="form-check-label">
              Número Cliente  
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Radios" id="exampleRadios2" value="2">
            <label class="form-check-label">
              Número Medidor
            </label>
          </div>
        </div>
        <div class="col-md-4">
          <b>Ingrese un servicio: </b><br>
            <!-- <span onclick="mostrarModalNumeroCliente();" class="mdi mdi-help-box"></span>:  -->
          <input id="busqueda" type="text" class="form-control" required>
        </div>
        <div class="col-md-1">
          <br>
          <button onclick="mostrarTablaContenido();" class="form-control btn btn-success" data-toggle="tooltip" data-placement="right" title="Buscar"><span class="mdi mdi-magnify"></span> </button>
        </div>
      </div>
    </div>
  </div>
</div>
  <br>
  <div class="container">
    <%= render 'tabla_contenido' %>
</div>

<div id="modal1">
  <div id="modalNumeroCliente" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
   
        <div class="modal-body">
          <div class="row">
            <center>
              <h2>Falta Modelo de Boleta</h2>
            </center>
          </div>
        <div class="modal-footer">
          <button  type="button" class="btn btn-primary" data-dismiss="modal"><span class="mdi mdi-close-circle-outline"></span> Salir</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
	function mostrarTablaContenido() {
    var rates = document.getElementsByName('Radios');
    var seleccion;
    for(var i = 0; i < rates.length; i++){
      if(rates[i].checked){
        seleccion = rates[i].value;
      }
    } 
    var busqueda = document.getElementById("busqueda").value;
    if (busqueda == ""){
      Push.create("Error de Busqueda", {
				body: "Ingrese: Nº CLIENTE",
				icon: "<%= asset_path('warning.png') %>",
				timeout: 5000,
				onClick: function () {
					window.focus();
					this.close();
				}
			})
    }
    else{ 
      $.ajax({
        url: "<%=url_for :controller => 'lectura_dictada_cliente',:action => 'tabla_contenido' %>",
        data: 'busqueda=' + encodeURIComponent(busqueda) + "&" + 'seleccion=' + encodeURIComponent(seleccion),
        cache: false,
        success: function(data) {}
      })
    }
      
  }

  function mostrarModalNumeroCliente(){
    $("#modalNumeroCliente").modal();
  }
 
</script>