<div id="carga_porciones">
	<% if !@porciones.nil?  %>
	  <%= select_tag "Porcion", options_from_collection_for_select(@porciones, "id", "mes"), :prompt=> "Seleccione" , :class => "custom-select custom-select-sm", :onchange => 'carga_filtro();'%>
	<%else%>
	  <select name="Porcion" id="Porcion" class="custom-select custom-select-sm" ><option value="">Seleccione</option>></select>
	<%end%>
</div>	
 