<title>Efectividad Por Porción</title>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
          <li class="breadcrumb-item">Lectura </li>
          <li class="breadcrumb-item">Reportes </li>
          <li class="breadcrumb-item active">Efectividad por Ciclo</li>
        </ol>
      </div>
      <br>
		</div>
	</div>
<div class="card">
	<div class="card-header"><b>Buscador</b> <span class="mdi mdi-magnify"></span></div>
	<div class="card-body">
		<div class="row">
				<div class="col-md-3">
					<label for="">Oficina:</label>
					<%=select_tag "Zona", options_from_collection_for_select(@zonas, "id", "nombre"), :prompt=> "Seleccionar", :class => "custom-select custom-select-sm" , :onchange => 'carga_porciones();'%>
				</div>
				<div class="col-md-3">
					<label for="">Mes de Proceso:</label>
					<%= render 'carga_porciones' %>
				</div>
				<div class="col-md-1">
					<br>
					<button type="button" onclick="carga_filtro();" class="btn btn-success"><span class="mdi mdi-magnify"></span> </button>			
			</div>
			</div>
		</div>	
	</div>
	<br>
		<!-- # > Botones e Información -->	
	<div class="row">
		<div class="col-md-6 div-padding">
		</div>
		<div class="col-md-6">
			<b>Exportar:</b><br>
			<button onclick="exportarCsv()" class="btn btn-csv btn-sm">
				<span class="mdi mdi-file-excel"></span>CSV</button>
			<!-- <button onclick="exportarPdf()" class="btn btn-pdf btn-sm">
				<span class="mdi mdi-file-excel"></span>PDF</button> -->
		</div>
	</div><br>
</div>
<div class="container-fluid">
	<%= render 'carga_filtro'%>
</div>

<script type="text/javascript">
	function carga_filtro(){
		var zona    = document.getElementById("Zona").value;
		var porcion = document.getElementById("Porcion").value;
		$.ajax({
      url: "<%=url_for :controller => 'reporte_efectividad_porcion',:action => 'carga_filtro' %>",
    	data: 'zona=' + encodeURIComponent(zona)+ "&" +
						'porcion=' + encodeURIComponent(porcion),
      cache: false,
      success: function(data) {}
    })
	}

	//Carga Porciones
	function carga_porciones() {
		var zona = document.getElementById("Zona").value;
		$.ajax({
    	url: "<%=url_for :controller => 'reporte_efectividad_porcion',:action => 'carga_porciones' %>",
			data: 'zona=' + encodeURIComponent(zona)+ "&",
      cache: false,
      success: function(data) {}
    })
	}

	$(function(){
		$('.pagination a').attr('data-remote', 'true')
	});
</script>
