<title>Efectividad de Procesos</title>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
				<li class="breadcrumb-item">Lectura </li>
				<li class="breadcrumb-item">Reportes </li>
	  		<li class="breadcrumb-item active">Efectividad de Procesos</li>
			</ol>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<div class="table-responsive">
			<table class="table table-striped table-bordered table-sm table-hover ">
				<thead>
					<tr>
						<th rowspan="2">Porción</th>
						<th rowspan="2">Proceso</th>
						<th rowspan="2">Fecha de Lectura</th>
						<th rowspan="2">Condición Climática</th>
						<th colspan="5">Cantidad de Clientes Primera Lectura</th>
						<th rowspan="2">Efec. día D Mes Anterior</th>
						<th rowspan="2">Q Ctes Meta 98,50 % </th>
						<th colspan="5">Cantidad de Clientes Repaso D+1</th>
						<th rowspan="2">Clave N, D + Repaso</th>
						<th colspan="3">Efectividad Final</th>
					</tr>
					<tr>
						<th id="titulo-tabla" style="background-color:#e57700; color:white">Asignado</th>
						<th id="titulo-tabla" style="background-color:#e57700; color:white">Clave N</th>
						<th id="titulo-tabla" style="background-color:#e57700; color:white">Pendiente</th>
						<th id="titulo-tabla" style="background-color:#e57700; color:white">Sin Lectura</th>
						<th id="titulo-tabla" style="background-color:#e57700; color:white">Efec. día D</th>
						<th id="titulo-tabla" style="background-color:#e57700; color:white">Asignado</th>
						<th id="titulo-tabla" style="background-color:#e57700; color:white">% Inverosímil</th>
						<th id="titulo-tabla" style="background-color:#e57700; color:white">Clave N</th>
						<th id="titulo-tabla" style="background-color:#e57700; color:white">Sin Lectura</th>
						<th id="titulo-tabla" style="background-color:#e57700; color:white"> % Efec Repaso</th>
						<th id="titulo-tabla" style="background-color:#e57700; color:white">Dic/17</th>
						<th id="titulo-tabla" style="background-color:#e57700; color:white">Nov/17</th>
						<th id="titulo-tabla" style="background-color:#e57700; color:white">Dic/16</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td colspan="4" id="letra-tabla"><b>Totales:</b></td>
						<td id="letra-tabla"> 261.153 </td>
						<td id="letra-tabla"> 234.419 </td>
						<td id="letra-tabla">  -   </td>
						<td id="letra-tabla"> 15.123 </td>
						<td id="letra-tabla">89,76%</td>
						<td id="letra-tabla">93,02%</td>
						<td id="letra-tabla"> 22.817 </td>
						<td id="letra-tabla"> 10.635 </td>
						<td id="letra-tabla">4,07%</td>
						<td id="letra-tabla"> 4.320 </td>
						<td id="letra-tabla"> 4.536 </td>
						<td id="letra-tabla">866,39%</td>
						<td id="letra-tabla"> 238.739 </td>
						<td id="letra-tabla">91,42%</td>
						<td id="letra-tabla">94,54%</td>
						<td id="letra-tabla">94,83%</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
