<div id="carga_filtro">
	<div class="card">
		<div class="card-header">Resultados de la Busqueda</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-2">
					<div class="btn-group">
						<button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Exportar <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a onclick="exportarExcel();"><span class="mdi mdi-file-excel mdi-18px"></span>Exportar CSV </a></li>
							<li><a onclick="exportarPdf();"><span class="mdi mdi-file-pdf mdi-18px"></span>Exportar PDF </a></li>
						</ul>
					</div>
				</div>
			</div>
			<br>
			<div class="table-responsive-sm">
				<table class="table table-striped table-hover table-sm table-bordered animated fadeIn fast">
					<thead>
										<tr>
												<th>Zona</th>
												<th>Comuna</th>
												<th>Lector</th>
												<th>Ruta</th>
												<th>Nº Instalación </th>
												<th>Nº Cliente</th>
												<th>Cliente</th>
												<th>Fecha Lectura</th>
												<th>Hora Visita</th>
												<th>Latitud</th>
												<th>Longitud</th>
												<th><span class="mdi mdi-map-marker"></span></th>
										</tr>
								</thead>
								<tbody>
										<% if !@lista.nil?%>
												<% @lista.each do |l| %>												
													<tr>
														<td><%= l[0]%></td>
														<td><%= l[1]%></td>
														<td><%= l[2]%></td>
														<td><%= l[3]%></td>
														<td><%= l[4]%></td>
														<td><%= l[5]%></td>
														<td><%= l[6]%></td>
														<td><%= l[7]%></td>
														<td><%= l[8]%></td>
														<td><%= l[9]%></td>
															
														</tr>
												<% end %>
									<% end %>
								</tbody>
						</table>
				</div>
		</div>
	</div>
</div>


<script type="text/javascript">

    //tooltip mensajes en los botones
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
   
    // Exportar CSV
    function exportarExcel(){
    	  var zona = document.getElementById("Zona").value;
        var porcion = document.getElementById("Porcion").value;
        var comuna = document.getElementById("Comuna").value;
        url = "<%=url_for :controller => 'reporte_nveces_sinlecturaefectiva',:action => 'exportar_excel' %>",
        location.href= url + '?zona=' + encodeURIComponent(zona)+ '&porcion=' + encodeURIComponent(porcion)
                    + '&empleado=' + encodeURIComponent(empleado)+ '&georeferencia=' + encodeURIComponent(georeferencia);
    }

    // Exportar PDF
    function exportarPdf(){
        var zona = document.getElementById("Zona").value;
        var porcion = document.getElementById("Porcion").value;
        var comuna = document.getElementById("Comuna").value;
        url = "<%=url_for :controller => 'reporte_nveces_sinlecturaefectiva',:action => 'exportar_pdf' %>",
        location.href= url + '?zona=' + encodeURIComponent(zona)+ '&porcion=' + encodeURIComponent(porcion)
                   + '&comuna=' + encodeURIComponent(comuna);
    }


</script>
