<div class="container">
		<div class="row">
				<div class="col-md-12">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
						<li class="breadcrumb-item">Lecturas </li>
						<li class="breadcrumb-item">Reportes </li>
						<li class="breadcrumb-item active">Clientes "N" Veces Sin Lectura Efectiva</li>
					</ol>
				</div>
			</div>
			<br>
			<div class="card">
					<div class="card-header"><b>Buscador</b> <span class="mdi mdi-magnify"></span></div>
					<div class="card-body">
				
						<div class="row">
							<div class="col-md-4">
								<label for="">Zonal:</label>
								<%=select_tag "Zona", options_from_collection_for_select(@zonas, "id", "nombre"), :prompt=> "Seleccionar", :class => "form-control input-sm" , :onchange => 'cargaPorciones();cargaComunas();'%>
							</div>
							<div class="col-md-3">
								<label for="">Ciclo:</label>
								<%= render 'carga_porciones' %>
							</div>
							<div class="col-md-2">
								<label for="">Comunas:</label>
								<%= render 'carga_comunas'	%>
							</div>
							<div class="col-md-2">
								<br>
								<button class="btn btn-success"  onclick="cargaFiltro();"><span class="mdi mdi-magnify"></span></button>
							</div>
						</div>
					</div>
				</div>
				<br>
				<%= render 'carga_filtro' %>
</div>



<script type="text/javascript">

	function cargaFiltro(){
		var zona = document.getElementById("Zona").value;
		var porcion = document.getElementById("Porcion").value;
		var comuna = document.getElementById("Comuna").value;
		$.ajax({
            url: "<%=url_for :controller => 'reporte_nveces_sinlecturaefectiva',:action => 'carga_filtro' %>",
						data: 'zona=' + encodeURIComponent(zona)+ "&" + 
									'porcion=' + encodeURIComponent(porcion)+ "&" + 
									'comuna=' + encodeURIComponent(comuna),
            cache: false,
            success: function(data) {}
        })
	}


	function cargaPorciones() {
		var zona = document.getElementById("Zona").value;
		$.ajax({
            url: "<%=url_for :controller => 'reporte_nveces_sinlecturaefectiva',:action => 'carga_porciones' %>",
            data: 'zona=' + encodeURIComponent(zona),
            cache: false,
            success: function(data) {}
        })
	}

	function cargaComunas() {
		var zona = document.getElementById("Zona").value;
		$.ajax({
            url: "<%=url_for :controller => 'reporte_nveces_sinlecturaefectiva',:action => 'carga_comunas' %>",
            data: 'zona=' + encodeURIComponent(zona),
            cache: false,
            success: function(data) {}
        })
	}
	$(function(){
    	$('.pagination a').attr('data-remote', 'true')
	});

</script>