<div id="carga_filtro">
	<div class="card">
		<div class="card-header"><b>Resultados de la Busqueda</b> <span class="mdi mdi-table-large"></span></div>
		<div class="card-body">
			<div class="table-responsive-sm">
				<table class="table table-striped table-hover table-sm table-bordered animated fadeIn fast">
					<thead>
						<tr>
							<th>Comuna</th>
							<th>Lector</th>
							<th>Ruta</th>
							<th>Nº Instalación </th>
							<th>Nº Cliente</th>
							<th>Cliente</th>
							<th style="width:15%">Dirección</th>
							<th>Fecha Lectura</th>
							<th>Hora Visita</th>
							<th>Latitud</th>
							<th>Longitud</th>
							<th><span class="mdi mdi-map-marker"></span></th>
						</tr>
					</thead>
					<tbody>
						<% if !@listaRsiete.nil?%>
							<% @listaRsiete.each do |l| %>
								<% if (l.orden_lectura.gps_latitud.nil?) || (l.orden_lectura.gps_longitud.nil?) %>
									<tr class="danger">
								<% else %>
									<tr>
								<% end %>
								<td><b><%= l.orden_lectura.comuna.nombre%></b></td>
								<td><%= l.empleado.nombre_completo%></td>
								<td><b><%= l.rutum.codigo%></b></td>
								<td><b><%= l.orden_lectura.instalacion.codigo%></b></td>
								<td><b><%= l.orden_lectura.cliente.numero_cliente%></b></td>																					
								<td><%= l.orden_lectura.cliente.nombre%></td>
								<td><%= l.orden_lectura.direccion%></td>
								<td>
									<b>
										<% if  !l.orden_lectura.detalle_orden_lectura.first.fecha_ejecucion.blank? %>
											<%= l.orden_lectura.detalle_orden_lectura.first.fecha_ejecucion.strftime("%e/%m/%Y ")%>
										<% end %>
									</b>
								</td>
								<td>
									<b>
										<% if  !l.orden_lectura.detalle_orden_lectura.first.fecha_ejecucion.blank? %>
											<%= l.orden_lectura.detalle_orden_lectura.first.fecha_ejecucion.strftime("%H:%M:%S")%>
										<% end %>
									</b>
								</td>
								<td><%= l.orden_lectura.gps_latitud%></td>
								<td><%= l.orden_lectura.gps_longitud%></td>
								<td>
									<% if (l.orden_lectura.gps_latitud == 0.0) || (l.orden_lectura.gps_longitud == 0.0) %>
										<button type="button" class="btn btn-sm btn-info" data-toggle="tooltip" data-placement="top" title="Sin Ubicación" disabled>
											<span class="mdi mdi-map-marker-off" style="color:white" ></span>
										</button>
									<%else%>
										<button onclick="mostrarModal('<%=l.orden_lectura.gps_latitud%>','<%=l.orden_lectura.gps_longitud%>');" type="button" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Mostrar Ubicación">
											<span class="mdi mdi-map-marker" style="color:white" ></span>
										</button>
									<% end %>
								</td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="justify-content-center align-items-center">
			<% if !@listaRsiete.nil?%>
				<%= will_paginate @listaRsiete, list_classes: %w(pagination align-center) %>
			<% end %>
		</div>
	</div>
</div>
</div>



<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">
	  <!-- Modal content-->
	  <div class="modal-content">
		<div class="modal-body">
			<div class="card">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
					<li class="breadcrumb-item">Lectura </li>
					<li class="breadcrumb-item">Reportes </li>
					<li class="breadcrumb-item">Control de Coordenas GPS</li>
					<li class="breadcrumb-item active">Ubicación Lector</li>
				</ol>
			</div><br>	
			<%= render 'carga_ubicacion' %>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-primary btn-sm" onclick="mapa();" data-toggle="tooltip" data-placement="top" title="Refrescar Mapa"><span class="mdi mdi-refresh"></span></button>
			<button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" data-toggle="tooltip" data-placement="top" title="Cancelar" ><span class="mdi mdi-close-circle-outline"></span></button>
		</div>
	</div>
</div>

<script type="text/javascript">

  //tooltip mensajes en los botones
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
  
	//muestra modal con mapa de las ubicaciones del lector
  function mostrarModal(x,y){
    var latitud = x
  	var longitud = y
    $.ajax({
      url:"<%=url_for :controller => 'reporte_control_coordenadas',:action => 'carga_ubicacion' %>",
      data:'latitud=' + encodeURIComponent(latitud) + "&" + 'longitud=' + encodeURIComponent(longitud),
      cache:false,
      success:function (data) {}
    })
    $('#myModal').modal();
    mapa();
  }

  // Exportar CSV
  function exportarCsv(){
    var georeferencia;
    if(document.getElementById('georeferencia').checked) {
      georeferencia = 1
    } else {
      georeferencia =0
    }
    var zona = document.getElementById("Zona").value;
    var porcion = document.getElementById("Porcion").value;
    var empleado = document.getElementById("Empleado").value;
    url = "<%=url_for :controller => 'reporte_control_coordenadas',:action => 'exportar_csv' %>",
        	location.href= url + '?zona=' + encodeURIComponent(zona) + 
															 '&porcion=' + encodeURIComponent(porcion) + 
															 '&empleado=' + encodeURIComponent(empleado)+ 
															 '&georeferencia=' + encodeURIComponent(georeferencia);
    }


    // Exportar PDF
    function exportarPdf(){
      var georeferencia
      if(document.getElementById('georeferencia').checked) {
        georeferencia = 1
      } else {
        georeferencia =0
      }
      var zona = document.getElementById("Zona").value;
      var porcion = document.getElementById("Porcion").value;
      var empleado = document.getElementById("Empleado").value;
      url = "<%=url_for :controller => 'reporte_control_coordenadas',:action => 'exportar_pdf', :format => :pdf %>", location.href= url + '?zona=' + encodeURIComponent(zona)+ '&porcion=' + encodeURIComponent(porcion) +'&empleado=' + encodeURIComponent(empleado)+'&georeferencia=' + encodeURIComponent(georeferencia);
    }


</script>
