<title>Control de Coordenadas GPS</title>
<div class="container-fluid">
	<div class="row" id="panel-titulos">
		<div class="col-md-12">
			<div class="card">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
					<li class="breadcrumb-item">Lectura </li>
					<li class="breadcrumb-item">Reportes </li>
					<li class="breadcrumb-item active">Control de Coordenadas  <small ><span class="badge badge-primary">GPS</span></small></li>
				</ol>
			</div><br>
		</div>
	</div>
	<div class="card">
		<div class="card-header"><b>Buscador</b> <span class="mdi mdi-magnify"></span></div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-3">
					<label for="">Oficinas:</label>
					<%=select_tag "Zona", options_from_collection_for_select(@zonas, "id", "nombre"), :prompt=> "Seleccionar", :class => "custom-select custom-select-sm" , :onchange => 'carga_porciones(); carga_empleados();'%>
				</div>
				<div class="col-md-3">
					<label for="">Ciclos:</label>
					<%= render 'carga_porciones' %>
				</div>
				<div class="col-md-3">
					<label for="">Lectores:</label>
					<%= render 'carga_empleados'	%>
				</div>
				<div class="col-md-1">
					<br>
					<button class="btn btn-success"  onclick="carga_filtro_rsiete();"><span class="mdi mdi-magnify"></span></button>
				</div>
			</div>
		</div>
	</div>
	<br>
	<!-- # > Botones e Información -->	
	<div class="row">
		<div class="col-md-6 div-padding">
		</div>
		<div class="col-md-6">
			<b>Exportar:</b><br>
			<button onclick="exportarCsv()" class="btn btn-csv btn-sm">
				<span class="mdi mdi-file-excel"></span>CSV</button>
			<!-- <button onclick="exportarPdf()" class="btn btn-pdf btn-sm">
				<span class="mdi mdi-file-excel"></span>PDF</button> -->
		</div>
	</div><br>
	<div class="container-fluid">
		<%= render 'carga_filtro' %>
	</div>
</div>



<script type="text/javascript">
    
	function carga_filtro_rsiete(){

		var zona = document.getElementById("Zona").value;
		var porcion = document.getElementById("Porcion").value;
		var empleado = document.getElementById("Empleado").value;
		$.ajax({
            url: "<%=url_for :controller => 'reporte_control_coordenadas',:action => 'carga_filtro' %>",
						data: 'zona=' + encodeURIComponent(zona)+ "&" + 
									'porcion=' + encodeURIComponent(porcion)+ "&" + 
									'empleado=' + encodeURIComponent(empleado),
            cache: false,
            success: function(data) {}
        })
	}

	function carga_empleados() {
		var zona = document.getElementById("Zona").value;
		$.ajax({
            url: "<%=url_for :controller => 'reporte_control_coordenadas',:action => 'carga_empleados' %>",
            data: 'zona=' + encodeURIComponent(zona),
            cache: false,
            success: function(data) {}
        })
	}


	function carga_porciones() {
		var zona = document.getElementById("Zona").value;
		$.ajax({
            url: "<%=url_for :controller => 'reporte_control_coordenadas',:action => 'carga_porciones' %>",
            data: 'zona=' + encodeURIComponent(zona),
            cache: false,
            success: function(data) {}
        })
	}


	function carga_rutas() {
		var porcion = document.getElementById("Porcion").value;
		$.ajax({
            url: "<%=url_for :controller => 'reporte_control_coordenadas',:action => 'carga_rutas' %>",
            data: 'porcion=' + encodeURIComponent(porcion),
            cache: false,
            success: function(data) {}
        })
	}

	$(function(){
    	$('.pagination a').attr('data-remote', 'true')
	});

</script>