<title>Observaciones de lectura</title>
	<!-- # > BreadCrumb Items -->
	<div class="card">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></li>
			<li class="breadcrumb-item">Catastros </li>
			<li class="breadcrumb-item active">Observaciones de lectura</li>
		</ol>
	</div>
	<br>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header"><span class="mdi mdi-file"></span> <b>Observaciones de lectura</b></div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-sm table-hover table-striped table-bordered animated fadeIn fast">
            <thead>
              <tr>
                <th>ID</th>
                <th>Descripción</th>
              </tr>
            </thead>
            <tbody>
              <% if !@observaciones.nil? %>
                <% @observaciones.each do |observacion| %>
                  <tr>
                    <td><%= observacion.id %></td>
                    <td><%= observacion.descripcion %></td>
                  </tr>
                <% end %> 
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>