<div id="asignacion_completa_mensaje">
	<% if !@totalOrdenes.nil?%>
    <script>
        Push.create("Asignación Exitosa", {
            body: "Se Asignaron: <%= @totalOrdenes.to_s %>, Ordenes",
            icon: "<%= asset_path('correcto.png') %>",
            timeout: 7000,
            onClick: function () {
              this.close();
            }
        })
        cargar_filtros();
        $(function () {
            $('[data-toggle="tooltip"]').tooltip("hide")
        })
    </script>
	<%end%>
</div>