<div id="carga_filtro">
	<div class="table-responsive-sm">
		<table class="table table-striped table-hover table-sm table-bordered animated fadeIn" style="width:100%">
			<thead>
				<tr>
					<th style="width:20%">Lector</th>
					<th style="width:11%"	><span class="mdi mdi-settings" data-toggle="tooltip" data-placement="top" title="Operaciones"></span></th>
					<th>Ciclo</th>
					<th style="width:15%">Ruta</th>
					<th>Clientes</th>
          <!-- <th>Total de Lecturas</th> -->
					<th>Horas en Terreno</th>
					<th>Efectividad Mes Anterior</th>
				</tr>
			</thead>
			<tbody>
				<% if @variable == 0 %>
					<% if !@lista.nil? %>
						<% @lista.each do |l| %>
							<tr>
								<td>
									<% if !@empleados.nil?  %>
										<%=select_tag "Empleado" + l[6].to_s, options_from_collection_for_select(@empleados, "id", "nombre_completo"),:prompt=> "Seleccione", :class => "form-control input-sm" %>
									<% else %>
										<select name="Empleado" id="Empleado"  class="form-input-sm">
											<option value="">Seleccione</option>
										</select>
									<%end%>
								</td>
								<td>
									<button class="btn btn-success btn-sm" onclick="asignacionParcial('<%= l[6]%>');" data-toggle="tooltip" data-placement="bottom" title="Asignación Parcial" >
											<span class="mdi mdi-checkbox-multiple-marked"></span>

									</button>
											<button class="btn btn-success btn-sm" onclick="asignacionCompleta('<%= l[6]%>');"data-toggle="tooltip" data-placement="bottom" title="Asignación Completa">
													<span class="mdi mdi-check-circle"></span>
											</button>
										</td>
										<td><b><%= l[0]%></b></td>
										<td><b><%= l[2]%></b></td>
										<td><span class="badge badge-primary"><%= l[3]%></span></td>
                    <!-- <td><span class="badge badge-success"><%= l[8] %></span></td> -->
										<td><b><%= l[4]%></b></td>
										<td><b><%= l[5]%></b></td>
									</tr>
								<% end %>
							<% end %>
						<% end %>
						<%if @variable == 1 %>
							<% if !@lista.nil? %>
								<% @lista.each do |l| %>
									<tr>
										<td><b><%= l[6]%></b></td>
										<td>
											<button onclick="desasignacionParcial('<%= l[7]%>', '<%= l[8] %>','<%= l[10] %>');" data-toggle="tooltip" data-placement="bottom" title="Desasignación Parcial"  type="button" class="btn btn-danger btn-sm">
												<span  class="mdi mdi-checkbox-multiple-marked"></span>
											</button>
											<button onclick="desasignacionCompleta('<%= l[7]%>', '<%= l[8] %>', '<%=l[10]%>');" data-toggle="tooltip" data-placement="bottom" title="Desasignación Completa" type="button" class="btn btn-danger btn-sm">
												<span class="mdi mdi-delete"></span>
											</button>
										</td>
										<td><b><%= l[0]%></b></td>
										<td><b><%= l[2]%></b></td>
										<td><span class="badge badge-primary"><%= l[3]%></span></td>
                    <!-- <td><span class="badge badge-primary"><%= l[11]%></span></td> -->
                    <td><%= l[4]%></td>
										<td><%= l[5]%></td>
									</tr>
								<% end %>
							<% end %>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!--
  Modal Asignación Parcial
-->
<div class="modal1">
  <div id="modalAsignacion" class="modal fade modalAsignacion" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body" id="modal-body">
          <div class="card">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe,{:action => "index",:controller => :bienvenida}%></li>
              <li class="breadcrumb-item">Lecturas </li>
              <li class="breadcrumb-item">Operaciones </li>
              <li class="breadcrumb-item active"><%=link_to 'Asignaciones de Lectura', lectura_operaciones_asignacion_lecturas_path %></li>
              <li class="breadcrumb-item active">Asignación Parcial</li>
            </ol><br>
          </div>
          <%= render 'carga_dividir_ruta_asignacion' %>
        </div>
        <div id="asignacion_parcial">
          <%= render 'asignacion_parcial' %>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
  Modal Desasignación Parcial
-->
<div class="modal2">
	<div id="modalDesasignacion" class="modal fade modalDesasignacion" role="dialog">
  	<div class="modal-dialog modal-lg">
  		<!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div class="card">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></li>
              <li class="breadcrumb-item">Lecturas</li>
              <li class="breadcrumb-item">Operaciones </li>
              <li class="breadcrumb-item active"><%=link_to 'Asignaciones de Ordenes de Lectura', lectura_operaciones_asignacion_lecturas_path %></li>
              <li class="breadcrumb-item active">Desasignación Parcial</li>
            </ol>
          </div>
          <br>
        	<%= render 'carga_dividir_ruta_desasignacion' %>
        </div>
      	<div id="desasignacion_parcial">
          <%= render 'desasignacion_parcial' %>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Muestran mensajes de asignacion completada -->
<div id="asignacion_completa_mensaje">
	<%= render 'asignacion_completa' %>
</div>

<!--Muestran mensajes de desasignacion completada -->
<div id="desasignacion_completa_mensaje">
	<%= render 'desasignacion_completa' %>
</div>

<script type="text/javascript">
    // # Asignaciones
    // # Asignacion Completa.
    function asignacionCompleta(ruta){
      var empleado = document.getElementById("Empleado" + ruta).value;
      var comuna = document.getElementById("Comuna").value;
      var proceso = document.getElementById("Tipo_lectura").value;

        if($("#Empleado" + ruta + " option:selected").val() == 0)
      {
        Push.create("Ups, ha ocurrido un error", {
          body: "Debe seleccionar un empleado",
          icon: "<%= asset_path('error.png') %>",
          timeout: 4000,
          onClick: function () {
            window.focus();
            this.close();
          }
        })
        return false;
      }
      else{
        $.ajax({
          url:"<%=url_for :controller => 'asignacions',:action => 'asignacion_completa' %>",
          data:'ruta=' + encodeURIComponent(ruta)+ "&" +
               'empleado=' + encodeURIComponent(empleado) + "&" +
               'comuna=' + encodeURIComponent(comuna) + "&" +
                'proceso=' + encodeURIComponent(proceso),
          cache:false,
          success:function (data) {}
        })
      }
    }

    // # Asignaciones
    // # Dividir Ruta Asignacion.
    function asignacionParcial(ruta){
        var empleado = document.getElementById("Empleado" + ruta ).value;
        var comuna = document.getElementById("Comuna").value;
        if($("#Empleado" + ruta + " option:selected").val() == 0) {
            Push.create("Ups, ha ocurrido un error", {
                body: "Debe seleccionar un empleado",
                icon: "<%= asset_path('error.png') %>",
                timeout: 4000,
                onClick: function () {
                    window.focus();
                    this.close();
                }
            })
            return false;
        }
        else {
            $.ajax({
                url:"<%=url_for :controller => 'asignacions',:action => 'carga_dividir_ruta_asignacion' %>",
                data:'ruta=' + encodeURIComponent(ruta)+ "&" +
                     'empleado=' + encodeURIComponent(empleado)+ "&" +
                     'comuna=' + encodeURIComponent(comuna),
                cache:false,
                success:function (data) {}
            })
            $('#modalAsignacion').modal();
        }
    }

    // # Desasignaciones
    // # Desasignación completa.
    function desasignacionCompleta(empleado,ruta, tipo_lectura){
        var comuna = document.getElementById("Comuna").value;
        $.ajax({
            url:"<%=url_for :controller => 'asignacions',:action => 'desasignacion_completa' %>",
            data:'ruta=' + encodeURIComponent(ruta)+ "&" +
                'empleado=' + encodeURIComponent(empleado)+ "&" +
                'tipo_lectura=' + encodeURIComponent(tipo_lectura)+ "&" +
                'comuna=' + encodeURIComponent(comuna),
            cache:false,
            success:function (data) {}
        })
    }

    // # Desasignación
    // # Dividir Ruta Desasignación
    function desasignacionParcial(empleado, ruta, tipo_lectura){
        var comuna = document.getElementById("Comuna").value;
        $.ajax({
          url:"<%=url_for :controller => 'asignacions',:action => 'carga_dividir_ruta_desasignacion' %>",
          data:'ruta=' + encodeURIComponent(ruta)+ "&" +
              'empleado=' + encodeURIComponent(empleado)+ "&" +
              'tipo_lectura=' + encodeURIComponent(tipo_lectura) + "&" +
              'comuna=' + encodeURIComponent(comuna),

            cache:false,
          success:function (data) {}
        })
        $('#modalDesasignacion').modal();
	  }


	  // Inici
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
</script>
