<div id="dividir_ruta_asignacion" >
	<br>
		<%= form_tag  :controller => 'asignacions', :action => 'asignacion_parcial', :method => 'post', :id => 'nueva_asignacion', :multipart => true do %>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-body">
							<tr>
								<th><b>Empleado:</b></th>
								<th></th>
								<th>
									<% if !@lector.nil? %>
										<%= @lector.nombre_completo%> | 
										<%= hidden_field_tag "empleado_seleccionado",@lector.id, class: 'form-control input-sm'%>
									<% end %> 
								</th>
								<th><b>Ruta:</b></th>
								<th></th>
								<th>
									<% if !@ruta_seleccionada.nil? %>
										<%= @ruta_seleccionada.codigo%> | 
										<%= hidden_field_tag "ruta_seleccionada",@ruta_seleccionada.id, class: 'form-control input-sm'%>
									<% end %>
								</th>
								<th><b>Cantidad de Ordenes:</b></th>
								<th></th>
								<th>
									<% if !@ordenes_lectura.nil? %>
										<%= @ordenes_lectura.count%>
									<% end %>
								</th><br>
							</tr>
						</div>
					</div>
					<br>
				<div class="card">
					<div class="card-body">
						<div class="row">
							<div class="col-md-4">
								<div class="form-inline">
									<label>Desde:</label>
									<input type="number" id="desde" class="custom-select custom-select-sm">
								</div>	
							</div>
							<div class="col-md-4">
								<div class="form-inline">
									<label>Hasta:</label>
									<input type="number" id="hasta" class="custom-select custom-select-sm">
								</div>
							</div>
						<div class="col-md-4">
								<br>
								<button type="button" onclick="seleccionarOrdenes();" data-toggle="tooltip" data-placement="top" title="Seleccionar" class="btn btn-success btn-sm"><span class="mdi mdi-cursor-pointer"></span></button>
								<button type="button" id="selectAll" data-toggle="tooltip" data-placement="top" title="Seleccionar Todo" class="btn btn-success btn-sm"><span class="mdi mdi-check-all"></span></button>
								<button type="button" onclick="asignacion_parcial(0)" data-toggle="tooltip" data-placement="top" title="Asignar" class="btn btn-primary btn-sm"><span class="mdi mdi-content-save"></span> </button>
								<button type="button" onclick="asignacion_parcial(1);" data-toggle="tooltip" data-placement="top" title="Asignar y Salir" class="btn btn-primary btn-sm"><span class="mdi mdi-content-save"></span><span class="mdi mdi-exit-to-app"></span></button>
							</div>
						</div> 
					</div>
				</div>
				<br>

				<div class="tabla-responsive">
				<table class="table table-striped table-sm table-bordered table-hover" >
					<thead>
						<tr>
							<th> -- </th>
							<th>Correlativo Ruta</th>  
							<th>Dirección Orden</th>
							<th>Tipo de lectura</th>
							<th>Comuna</th>
              <th>Tarifa</th>
              <th>Cant. de Lecturas</th>
						</tr>
					</thead>
					<tbody>
						<% if !@ordenes_lectura.nil? %>
							<% @ordenes_lectura.each do |orden_lectura|  %>
								<tr>
									<td><%= check_box_tag 'orden_ids', orden_lectura.id -%></td>
									<td><label><%= orden_lectura.secuencia_lector%></label></td> 
									<td><label><%= orden_lectura.direccion_orden%></label></td>  
									<td><label><%= orden_lectura.tipo_lectura.nombre%></label></td>
									<td><label><%= orden_lectura.comuna.nombre%></label></td>
									<td><label><%= orden_lectura.factor_cobro.nombre%></label></td>
									<td><label><%= orden_lectura.detalle_orden_lectura.count%></label></td>
								</tr>
							<% end %>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<% end %>
</div>

<!-- # > Funciones Js -->
<script type="text/javascript">

    // Boton Seleccionar ordenes
    function seleccionarOrdenes(){
        var desde =  parseInt(document.getElementById("desde").value) - 1;
        var hasta = parseInt(document.getElementById("hasta").value);
        var check = $(':checkbox')
        for (i = desde; i < check.length; i++){
          check[i].checked = false;
        }

        for (i = desde; i < hasta; i++){
          check[i].checked = true;
        }
    }


	  function cargarTablaAsignacion(ruta,empleado){
        $.ajax({
			    url:"<%=url_for :controller => 'asignacions',:action => 'carga_dividir_ruta_asignacion' %>",
			    data:'ruta=' + encodeURIComponent(ruta)+ "&" +
					     'empleado=' + encodeURIComponent(empleado),
			    cache:false,
			    success:function (data) {}
		    })
	  }

    //boton Asignacion Parcial
    function asignacion_parcial(id_boton_asignacion){
        var empleado = document.getElementById("empleado_seleccionado").value;
		    var ruta = document.getElementById("ruta_seleccionada").value;
		    var ordenes = new Array();
		    var box = $(':checkbox')
		    for (i = 0; i < box.length; i++){
			    if (box[i].checked == true && box[i].value != "selectAll" && box[i].value != "selectAll_uno" )
			    {
				    ordenes.push(box[i].value)
			    }
		    }
		    $.ajax({
			    url:"<%=url_for :controller => 'asignacions',:action => 'asignacion_parcial' %>",
			    data:'ruta=' + encodeURIComponent(ruta)+ "&" +
               'empleado=' + encodeURIComponent(empleado)+ "&" +
						   'ordenes=' + encodeURIComponent(ordenes)+ "&" +
						   'id_boton_asignacion=' + encodeURIComponent(id_boton_asignacion),
			    cache:false,
		    success:function (data) {}
		  })
	  }
	
    // CheckBox Seleecionar Todo
    $('#selectAll').click(function() {
        if (true) {
            $(':checkbox').each(function() {
                this.checked = true;
            });
        }
        else {
            $(':checkbox').each(function() {
                this.checked = false;
            });
        }
    });

    //Initialize tooltip component
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    $(function(){
        $('.pagination a').attr('data-remote', 'true')
    });
</script>