<title>Asignaciones de O.L </title>
<div class="container-fluid">
	<div class="card">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
			<li class="breadcrumb-item">Lecturas </li>
			<li class="breadcrumb-item">Operaciones </li>
			<li class="breadcrumb-item active">Asignaciones de Ordenes de Lectura</li>
		</ol>
	</div>
	<br>
	<div class="alert alert-success alert-dismissible fade show" role="alert">
  	<span class="fas fa-info-circle"></span>
  	<strong>Información!</strong> Asignación de ordenes de trabajo a lectores en terreno
  	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    	<span aria-hidden="true">&times;</span>
  	</button>
	</div>
	<div class="card">
		<div class="card-header">
			<span class="mdi mdi-magnify"></span> <b>Buscador</b>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-2 mb-3">
					<span class="mdi mdi-city"></span> <label>Oficina:</label>
					<%=select_tag "Zona", options_from_collection_for_select(@zonas, "id", "codigo_nombre"), :onchange => 'cargarPorciones();cargaComunas();cargar_filtros();', :prompt=> "Seleccione", :class => "custom-select custom-select-sm"%>
        </div>
				<div class="col-md-2 mb-3">
					<span class="mdi mdi-map-marker-circle"></span> <label>Comuna:</label>
          <%= render "carga_comunas" %>
				</div>
				<div class="col-md-2 mb-3">
					<span class="mdi mdi-chart-pie"></span> <label>Ciclo:</label>
          <%= render "carga_porciones" %>
				</div>
				<div class="col-md-2 mb-3">
					<span class="mdi mdi-calendar-blank"></span> <label>Estado:</label>
          <%=select_tag "Estado", options_from_collection_for_select(@estados, "id", "nombre"), :class => "custom-select custom-select-sm", :onchange => 'cargar_filtros();'%>
				</div>
				<div class="col-md-3 mb-3" >
					<span class="mdi mdi-animation"> <label>Proceso:</label>
          <%=select_tag "Tipo_lectura", options_from_collection_for_select(@tipo_lectura, "id", "nombre"), :class => "custom-select custom-select-sm", :onchange => 'cargar_filtros();'%>
          <br>

        </div>
				<div class="col-md-1 mb-3">
					<br>
					<button type="button" class="form-control btn-success btn-sm" onclick="cargar_filtros();" data-toggle="tooltip" data-placement="right" title="Buscar" >
						<span class="mdi mdi-magnify mdi-18px"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>


<br>
<div class="container-fluid">
	<div class="card">
		<div class="card-header">
			<span class="mdi mdi-file-multiple"></span> <b>Asignaciones de Lectura</b>
		</div>
		<div class="card-body">
			<div class="container">
					<%= render 'carga_filtro' %>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

    // # Filtro Tabla Contenido
    function cargar_filtros() {
		  var porcion = document.getElementById("Porcion").value;
		  var proceso = document.getElementById("Tipo_lectura").value;
		  var zona = document.getElementById("Zona").value;
		  var Estado = document.getElementById("Estado").value;
      var comuna = document.getElementById("Comuna").value;

      $.ajax({
			  url: "<%=url_for :controller => 'asignacions',:action => 'carga_filtro' %>",
			  data: 'porcion=' + encodeURIComponent(porcion) + "&" + 'proceso=' + encodeURIComponent(proceso) +"&" +
						  'zona=' + encodeURIComponent(zona)+ "&" + 'Estado=' + encodeURIComponent(Estado) +
               "&" + 'comuna=' + encodeURIComponent(comuna),
			  cache: false,
			  success: function(data) {}
		  })
  }

  // # Filtro Porciones
	function cargarPorciones() {
      /*Carga las porciones disponibles de una zona */
		  var zona = document.getElementById("Zona").value;
		  $.ajax({
			  url: "<%=url_for :controller => 'asignacions',:action => 'carga_porciones' %>",
			  data: 'zona=' + encodeURIComponent(zona),
			  cache: false,
			  success: function(data) {}
		  })

	}

	// # Filtro Comunas
  function cargaComunas() {
	    var zona = document.getElementById("Zona").value;
      $.ajax({
          url: "<%=url_for :controller => 'asignacions',:action => 'carga_comunas' %>",
          data: 'zona=' + encodeURIComponent(zona),
          cache: false,
          success: function(data) {}
      })
  }
</script>
