<div id="carga_filtro">
	<br>
	<div class="card">
		<div class="card-header"><b>Resultados de la Busqueda</b> <span class="mdi mdi-table-large"></span></div>
		<div class="card-body">
			<div class="table-responsive-sm">
				<table class="table table-striped table-hover table-sm table-bordered animated fadeIn fast">
					<thead>
						<tr>
							<th>Ciclo</th>
							<th>Comuna</th>
							<th>Lector</th>
							<th>Ruta</th>
							<th>Medidores Asignados</th>
							<th>Lecturas Asignadas</th>
							<th>Claves Efectivas</th>
							<th>Claves Improcedentes</th>
							<th>Problemas Técnicos</th>
							<th>Total</th>
							<th>% Efectividad</th>
						</tr>
					</thead>
					<tbody>
						<% if !@lista.nil?%>
							<% @lista.each do |l| %>
								<tr>
									<td><b><%= l[0] %></b></td>
									<td><b><%= l[1].capitalize %></b></td>
									<td><b><%= l[2] %></b></td>
									<td><b><%= l[3] %></b></td>
									<td><b><%= l[4] %></b></td>
									<td><b><%= l[10]%></b></td>
									<td><b><%= l[5] %></b></td>
									<td><b><%= l[6] %></b></td>
									<td><b><%= l[7] %></b></td>
									<td><b><%= l[8] %></b></td>
									<td><b><%= l[9] %> % </b></td>											
								</tr>
							<% end %>
						<% end %>
					</tbody>
						<% if !@totales.nil? %>
							<tfooter>
									<tr class="bg-info text-white">
										<td style="font-size:16px !important;" colspan="4"><b class="pull-right">Totales:</b></td>
										<td style="font-size:16px !important;"><b><%= @totales[0]%></b></td>
										<td style="font-size:16px !important;"><b><%= @totales[6]%></b></td>
										<td style="font-size:16px !important;"><b><%= @totales[1]%></b></td>
										<td style="font-size:16px !important;"><b><%= @totales[2]%></b></td>
										<td style="font-size:16px !important;"><b><%= @totales[3]%></b></td>
										<td style="font-size:16px !important;"><b><%= @totales[4]%></b></td>
										<td style="font-size:16px !important;"><b><%= @totales[5]%> % </b></td>
									</tr>
							</tfooter>
						<%end%>
					</table>
				</div>
			</div>
		</div> 
	</div>

	<%= render 'exportar_csv' %>

<script>
	// Exportar Csv
	function exportarCsv(){
			var zona = document.getElementById("Zona").value;
			var lector = document.getElementById("Lector").value;
			url = "<%=url_for :controller => 'reporte_efectividad_lector', :action => 'exportar_csv' %>",
			location.href= url + '?zona=' + encodeURIComponent(zona) + '&lector=' + encodeURIComponent(lector);
	}

	// Exportar PDF
	function exportarPdf(){
			var zona = document.getElementById("Zona").value;
			var lector = document.getElementById("Lector").value;
			url = "<%=url_for :controller => 'reporte_efectividad_lector', :action => 'exportar_pdf', :format => :pdf %>",
			location.href= url + '?zona=' + encodeURIComponent(zona) + '&lector=' + encodeURIComponent(lector);
	}
</script>
