<title>Efectividad por Lector</title>
<div class="container">
		<div class="row">
				<div class="col-md-12">
					<div class="card">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
              <li class="breadcrumb-item">Lectura </li>
              <li class="breadcrumb-item">Reportes </li>
              <li class="breadcrumb-item active">Efectividad por Lector</li>
            </ol>
          </div>
          <br>
				</div>
			</div>
		<div class="card">
			<div class="card-header"><b>Buscador</b> <span class="mdi mdi-magnify"></span></div>
			<div class="card-body">
				<div class="row">
						<div class="col-md-3">
							<label for="">Oficina:</label>
							<%=select_tag "Zona", options_from_collection_for_select(@zonas, "id", "nombre"), :prompt=> "Seleccionar", :class => "form-control input-sm" , :onchange => 'cargaLectores();'%>
						</div>	
						<div class="col-md-3">
							<label for="">Lectores:</label>
							<%= render 'carga_lectores' %>
						</div>
						<div class="col-md-1">
								<br>
								<button type="button" onclick="carga_filtro();" class="btn btn-success"><span class="mdi mdi-magnify"></span></button>			
						</div>
					</div>
			</div>
		</div><br>
		<!-- # > Botones e Información -->	
	<div class="row">
		<div class="col-md-6 div-padding">
		</div>
		<div class="col-md-6">
			<b>Exportar:</b><br>
			<button onclick="exportarCsv();" class="btn btn-csv btn-sm">
				<span class="mdi mdi-file-excel"></span>CSV
			</button>

			<button onclick="exportarPdf()" class="btn btn-pdf btn-sm">
				<span class="mdi mdi-file-excel"></span>PDF</button>
		</div>
	</div><br>
</div>

<div class="container">
	<%= render 'carga_filtro'%>
</div>

<script type="text/javascript">
	function carga_filtro(){
		var zona    = document.getElementById("Zona").value;
		var lector = document.getElementById("Lector").value;
		$.ajax({
      url: "<%=url_for :controller => 'reporte_efectividad_lector',:action => 'carga_filtro' %>",
      data: 'zona=' + encodeURIComponent(zona)+ "&" +
						'lector=' + encodeURIComponent(lector),
      cache: false,
      success: function(data) {}
        })
	}

	//Carga Porciones
	function cargaLectores() {
		var zona = document.getElementById("Zona").value;
		$.ajax({
    	url: "<%=url_for :controller => 'reporte_efectividad_lector',:action => 'carga_lectores' %>",
			data: 'zona=' + encodeURIComponent(zona),
    	cache: false,
      success: function(data) {}
        })
	}
	
	$(function(){
		$('.pagination a').attr('data-remote', 'true')
	});
	
	
</script>
