<div id="zonas">
<% if !@zonas.nil?  %>
    <%=select_tag "Zona", options_from_collection_for_select(@zonas, "id", "codigo_nombre"), :prompt=> "Seleccionar todas" , :class => "custom-select custom-select-sm"%>
<%else%>
    <select name="Zona" id="Zona"  class="custom-select custom-select-sm""><option value="">Seleccione</option></select>
<%end%>
</div>


