<title>Cerrar Procesos de Lectura</title>
<div class="container">
	<div class="card">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
			<li class="breadcrumb-item">Lecturas </li>
			<li class="breadcrumb-item">Operaciones </li>
			<li class="breadcrumb-item active">Cerrar Procesos de Lectura</li>
		</ol>
	</div>
	<br>
	<div class="card">
		<div class="card-header"><b>Buscador</b> <span class="mdi mdi-magnify"></span></div>
		<div class="card-body">
			<div class="row">
					<div class="col-md-4">
						<label>Regiones:</label>
						<%=select_tag "Region", options_from_collection_for_select(@regiones, "id", "nombre"), 
							:onchange => "cargarZonas();",:prompt=> "Seleccione", :class => "custom-select custom-select-sm"%><br>
						<label>Oficinas:</label>
						<%= render 'carga_zonas' %>
					</div>
					<div class="col-md-1">
						<br>
						<button type="button" onclick="carga_filtro();" class="btn btn-success form-control" data-toggle="tooltip" data-placement="right" title="Buscar"><span class="mdi mdi-magnify"></span></button>			
					</div>
			</div>
		</div>
	</div>
	<br>
	<div>
		<%= render 'carga_filtro' %>
	</div>
</div>

<script>
	function carga_filtro(){
		var zona = document.getElementById("Zona").value;		
		$.ajax({
			url: "<%=url_for :controller => 'cerrar_procesos_lecturas',:action => 'carga_filtro' %>",
			data: 'zona=' + encodeURIComponent(zona),
			cache: false,
			success: function(data) {}
		})
	}

	function cargarZonas(){
		var region= document.getElementById("Region").value;
		$.ajax({
			url: "<%=url_for :controller => 'cerrar_procesos_lecturas',:action => 'carga_zonas' %>",
			data: 'region=' + encodeURIComponent(region),
			cache: false,
			success: function(data) {}
		})
	}
</script>