<div id="carga_porciones">
	<% if !@porciones.nil?  %>
	    <%=select_tag "Porcion", options_from_collection_for_select(@porciones, "id", "codigo"), :prompt=> "Todos" , :class => "custom-select custom-select-sm", :onchange => "carga_empleados();cargaFiltro();"%>
	<%else%>
	  	<select name="Porcion" id="Porcion" class="custom-select custom-select-sm" onchange="cargaFiltro();" ><option value="">Todos</option>></select>
	<%end%>
</div>	
