<div id="carga_filtro">
	<div class="card">
		<div class="card-header"><b> <span class="mdi mdi-clock-outline"></span> Control de Horas en Terreno</b> </div>
    <div class="card-body">
			<div class="table-responsive-sm">
      	<table class="table table-striped table-hover table-sm table-bordered animated fadeIn fast">
        	<thead>
            <tr>
            	<th>Ciclo</th>
              <th>Ruta</th>
              <th style="width:30%">Lector</th>
              <th style="width:10%">Clientes Asignados</th>
              <th>Clientes Pendientes</th>
            	<th style="width:10%">Hora Comienzo</th>
            	<th style="width:10%">Hora Termino</th>
              <th style="width:10%">Total Horas</th>
            </tr>
          </thead>
          <tbody>
          	<% if !@lista.nil? %>
              <% @lista.each do |l| %>
                <tr>
                  <td><%= l[0]%></td>
                  <td><%= l[2]%></td>
                  <td><%= l[1] %></td>
                  <td><b><%= l[3]%></b></<b>
                  <td><b><%= l[4]%></b></td>
                  <td><b><%= l[5]%></b></td>
                  <td><b><%= l[6]%></b></td>
                  <td><b><%= l[7]%></b></td>
                </tr>
                <%end%>
            <% end %>
          </tbody>
        </table>
      </div>
      <div id="will_paginate_id" class="row h-100 justify-content-center align-items-center">
				<% if !@lista.nil?%>
					<%= will_paginate @lista %> <br>
				<% end %>
			</div>
    </div>
  </div>
</div>
          