<title>Control de Horas en Terreno</title>
<!-- Sección Navegación Módulo -->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
					<li class="breadcrumb-item">Lectura </li>
					<li class="breadcrumb-item">Reportes </li>
					<li class="breadcrumb-item active">Control de Horas en Terreno</li>
				</ol>
			</div><br>
		</div>
	</div>
</div>
<!-- Sección Busqueda  -->
<div class="container-fluid">
	<div class="card">
		<div class="card-header"><b><span class="mdi mdi-magnify mdi-16px"></span> Buscador</b></div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-2">
						<span class="mdi mdi-city"></span> <label>Zonal: </label>
					<%= select_tag "Zona", options_from_collection_for_select(@zonas, "id", "nombre"),:prompt=> "Seleccione", :class => "custom-select custom-select-sm",:onchange => 'mostrarPorciones();cargaFiltro();'%>
				</div>
				<div class="col-md-2">
						<span class="mdi mdi-chart-pie"></span> <label for="">Ciclos: </label>
					<%= render 'carga_porciones' %>
				</div>
				<div class="col-md-3">
					<span class="mdi mdi-account-multiple"></span> <label for="">Lectores: </label>
					<%= select_tag "Empleado", options_from_collection_for_select(@empleados, "id", "nombre_completo"),:prompt=> "Todos", :class => "custom-select custom-select-sm",:onchange => 'cargaFiltro();'%>
				</div>
				<div class="col-md-2">
						<span class="mdi mdi-calendar"></span> <label>Fecha:</label>
					  <%= date_field_tag(:fecha, Date.today, :class => 'custom-select custom-select-sm', :onchange =>'cargaFiltro()') %>
				</div>
				<div class="col-md-1">
					<br>
					<button type="button" onclick="cargaFiltro();" class="btn btn-primary"><span class="mdi mdi-magnify"></span></button>
				</div>
			</div>
		</div>
	</div>
	<br>
</div>
<!-- Fin Sección Busqueda -->

<!-- Sección Botones -->
<div class="container-fluid">
	<div class="card">
		<div class="card-body">
			<b>Exportar:</b>
			<button onclick="exportarCsv()" class="btn btn-csv btn-sm">
				<span class="mdi mdi-file-excel"></span>CSV
			</button>
			<!-- <button onclick="exportarPdf()" class="btn btn-pdf btn-sm">
				<span class="mdi mdi-file-excel"></span>PDF
			</button> -->
		</div>
	</div>
	<br>
</div>
<!-- Fin Sección Botones -->

<!-- Sección Tabla de Resultados -->
<div class="container-fluid">
	<%= render 'carga_filtro'%>
</div>
<!-- Fin Tabla de Resultados -->

<script>
 	//Se Definen las Funciones para los Fitros de los Selects
 	// > Muestra todas las porciones por Zona asignada
	function mostrarPorciones() {
    var zona = document.getElementById("Zona").value;
    $.ajax({
    	url: "<%=url_for :controller => 'reporte_control_horas_terreno',:action => 'carga_porciones' %>",
      data: 'zona=' + encodeURIComponent(zona),
      cache: false,
      success: function(data) {}
		})
	}

	// > Muestra todos Empleados por Zona
	function carga_empleados() {
		var porcion = document.getElementById("Porcion").value;
		$.ajax({
      url: "<%=url_for :controller => 'reporte_control_horas_terreno',:action => 'carga_empleados' %>",
      data: 'porcion=' + encodeURIComponent(porcion),
      cache: false,
      success: function(data) {}
    })
	}

	// Muestra el contenido de la tabla
	function cargaFiltro() {
		var zona = document.getElementById("Zona").value;
		var porcion = document.getElementById("Porcion").value;
		var empleado = document.getElementById("Empleado").value;
		var fecha = document.getElementById("fecha").value;
		$.ajax({
      url: "<%=url_for :controller => 'reporte_control_horas_terreno',:action => 'carga_filtro' %>",
      data: 'porcion=' + encodeURIComponent(porcion)+ "&" +
						'empleado=' + encodeURIComponent(empleado) + "&" +
						'zona=' + encodeURIComponent(zona) + "&" +
						'fecha=' + encodeURIComponent(fecha),
      cache: false,
      success: function(data) {}
    })
	}
	// Exportar CSV
  function exportarCsv(){
    var zona = document.getElementById("Zona").value;
		var porcion = document.getElementById("Porcion").value;
		var empleado = document.getElementById("Empleado").value;
		var fecha = document.getElementById("fecha").value;
    url = "<%=url_for :controller => 'reporte_control_horas_terreno',:action => 'exportar_csv' %>",
        	location.href= url + '?porcion=' + encodeURIComponent(porcion) + 
															 '&zona=' + encodeURIComponent(zona) + 
															 '&empleado=' + encodeURIComponent(empleado)+ 
															 '&fecha=' + encodeURIComponent(fecha);
    }

</script>