<div id="ver_fotografia">
	<% if !@lista_fotos.nil? %>
		<% @lista_fotos.each do |foto| %>
			<%= image_tag("http://aguasandinas.s3-website-us-east-1.amazonaws.com/" + foto.archivo.to_s, size: '260x400', id: 'fotografia', class: 'img-responsive zoom') %>
		<% end %>
	<%end%>
	<%if @lista_fotos.blank? %>
		<div class="col-md-12">
			<h3 style="color:orange"><center>No se Capturaron Fotografias</center></h3>
		</div>
	<% end %>
</div>

