<div class="container">
  <div class="row" >
    <div class="col-md-12">
      <div class="card">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
          <li class="breadcrumb-item">Lectura </li>
          <li class="breadcrumb-item">Operaciones</li>
          <li class="breadcrumb-item active">Exportar Ordenes de Lectura	</li>
        </ol>
      </div>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-12">
              <label>Rutas</label>
              <br>
              <%=select_tag "Ruta", options_from_collection_for_select(@rutas, "id", "codigo"),:prompt=> "Seleccione", :class =>"form-control input-sm"%>
              <br>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <br>
          <button onclick="exportarCsv()" class="btn btn-export-csv">
            <span class="mdi mdi-file-excel mdi-18px"></span> CSV
          </button>
        </div>
      </div>
    </div>
  </div>
</div> <!-- Fin Container -->


<script type="text/javascript" charset="utf-8">
    // # > Exportar CSV
    function exportarCsv(){
        var ruta = document.getElementById("Ruta").value;
        $.ajax({
            url:"<%=url_for :controller => 'exportar_ordenes_lectura',:action => 'exportar_csv', :format => :js %>",
            data:'ruta=' + encodeURIComponent(ruta),
            cache:false,
            success:function (data) {}
        })
    }
</script>