<div id="zonas">
	<% if !@zonas.nil?  %>
		<%=select_tag "Zona", options_from_collection_for_select(@zonas, "id", "codigo_nombre"),
			:onchange => "cargarPorciones();cargaOrdenes();", :prompt=> "Seleccione" , :class => "custom-select custom-select-sm" %>
	<%else%>
		<select onchange="cargaOrdenes();" name="Zona" id="Zona"  class="custom-select custom-select-sm"><option>Seleccione</option></select>
	<%end%>
</div>


<script type="text/javascript">
	function cargarPorciones() {
		var zona = document.getElementById("Zona").value;
		$.ajax({
    	url: "<%=url_for :controller => 'monitor_lectores',:action => 'carga_porciones' %>",
      data: 'zona=' + encodeURIComponent(zona),
      cache: false,
      success: function(data) {}
    })
  }
</script>