<div id="filtro">
	<div class="alert alert-info" role="alert">
    <span class="mdi mdi-google-maps"></span> Recorrido del léctor <br>
  </div>
	<div class="card">
		<div class="card-header"><span class="mdi mdi-google-maps"></span> <b>Lectores en Terreno</b></div>
		<div class="card-body">
			<div id="will_paginate_id" class="row h-100 justify-content-center align-items-center">
      	<% if !@lista.nil?%>
        	<%= will_paginate @lista %> <br>
				<% end %>
			</div>	
			<br>
			<div class="table-responsive-sm">
				<table class="table table-sm table-hover table-striped table-bordered animated fadeIn fast">
					<thead>
						<tr>
							<th><span class="mdi mdi-settings"></span></th>
							<th>Lector</th>
							<th>Ciclo</th>
							<th>Ruta</th>
							<th>Total de CTE</th>
							<th>CTE Cargado</th>
							<th>CTE Pendientes Visita</th>
							<th>Lecturas Efectivas</th>
							<th>Lecturas no Efectivas</th>
							<th>CTE Leído</th>
							<th>% Efectividad</th>
							<th>Hora Inicio</th>
							<th>Hora Término</th>
						</tr>
					</thead>
					<tbody>
						<% if !@lista.nil?%>
							<% @lista.each do |l| %>
								<tr>
									<td>
										<button type="button" class="btn btn-info btn-sm" onclick="mostrarModal('<%= l[12] %>', '<%=l[13]%>'); mapa();" >
											<span class="mdi mdi-google-maps"></span>
										</button>
									</td>
									<td><b><%= l[0]%></b></td>
									<td><b><%= l[15]%></b></td>
									<td><b><%= l[1]%></b></td>
									<td><span class="badge badge-info"><%= l[2] %></span></td>		
									<td><span class="badge badge-success"><%= l[3] %></span></td>
									<td><span class="badge badge-danger"><%= l[6] %></span></td>
									<td><span class="badge badge-info"><%= l[4] %></span></td>
									<td><span class="badge badge-warning"><%= l[5] %></span></td>
									<td><span class="badge badge-success"><%= l[7] %></span></td>
									<td style="font-size:16px !important"><%= l[8] %> % </td>
									<td><b><%= l[9]%> </b></td>
									<td><b><%= l[10]%> </b></td>
								</tr>
							<% end %>
						<% end %>
						</tbody>
				</table>
			</div>
			<div id="will_paginate_id" class="row h-100 justify-content-center align-items-center">
				<% if !@lista.nil?%>
					<%= will_paginate @lista %> <br>
				<% end %>
			</div>
		</div>
	</div>
</div>
<!-- Modal Mostrar Ubicación -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
			<div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"> <span class="mdi mdi-google-maps"></span> Recorrido léctor </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'carga_ubicacion' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-sm" onclick="mapa();"><span class="mdi mdi-refresh"></span> Actualizar</button>
				<button type="button" class="btn btn-danger btn-sm"><span class="mdi mdi-close-circle-outline"></span> Cerrar</button>
			</div>
   </div>
 </div>
</div>


<script type="text/javascript">
  <%# muestra modal con mapa de las ubicaciones del lector %>
  function mostrarModal(x,y){
      var ruta_id = x
      var emp_id = y
    $.ajax({url:"<%=url_for :controller => 'monitor_lectores',:action => 'carga_ubicacion' %>",
            data:'ruta_id=' + encodeURIComponent(ruta_id) + "&" + 'emp_id=' + encodeURIComponent(emp_id),

            cache:false,
            success:function (data) {}})
    $('#myModal').modal();
    mapa();
  }
</script>
