<div id="carga_porciones">
	<% if !@porciones.nil?  %>
		<%=select_tag "Porcion", options_from_collection_for_select(@porciones, "id", "codigo"), 
			:onchange => "cargaOrdenes();", :prompt=> "Todos" , :class => "custom-select custom-select-sm"%>
	<%else%>
	  	<select onchange="cargaOrdenes();" name="Porcion" id="Porcion" class="custom-select custom-select-sm" ><option value="">Todos</option>></select>
	<%end%>
</div>	

