<title>Monitoreo de Lectores en Terreno</title>
		<div class="card">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
				<li class="breadcrumb-item">Lectura </li>
				<li class="breadcrumb-item">Operaciones </li>
				<li class="breadcrumb-item active">Monitoreo de Lectores en Terreno</li>
			</ol>
	</div><br>
	<div class="card">
		<div class="card-header"><span class="mdi mdi-magnify"></span>><b>Buscador</b></div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-3">
          <span class="mdi mdi-google-maps"></span><label>Regiones:</label><br>
          <%=select_tag "Region", options_from_collection_for_select(@regiones, "id", "nombre"), :onchange => "cargarZonas();", :prompt=> "Seleccione", :class =>"custom-select custom-select-sm"%>
          <br>
        </div>
        <div class="col-md-2">
          <span class="mdi mdi-city"></span ><label>Zonal:</label><br>
          <%= render 'carga_zonas'%>
        </div>
        <div class="col-md-2">
          <span class="mdi mdi-chart-pie"></span> <label>Ciclo:</label><br>
          <%= render 'carga_porciones'%>
        </div>
        <div class="col-md-1">
          <br>
          <button type="button" class="btn btn-success form-control " onclick="cargaOrdenes();"><span class="mdi mdi-magnify"></span></button>
        </div>
      </div>
    </div>
  </div>
<br>

	<div class="row">
		<div class="col-md-12">
			<%= render 'carga_filtro'%>
		</div>
	</div>

<!--
  # Funciones JS
-->
<script type="text/javascript">
    // # Monitor lectores
    // # Muestra Tabla contenido
    function cargaOrdenes() {
        var zona = document.getElementById("Zona").value;
        var porcion = document.getElementById("Porcion").value;
        $.ajax({
          url: "<%=url_for :controller => 'monitor_lectores',:action => 'carga_filtro' %>",
          data:'zona=' + encodeURIComponent(zona) +  "&" +
               'porcion=' + encodeURIComponent(porcion),
          cache: false,
          success: function(data) {}
        })
    }

    // # Filtro
    // # Muestra Todas las Zonas
    function cargarZonas(){
        var region= document.getElementById("Region").value;
        $.ajax({
          url: "<%=url_for :controller => 'monitor_lectores',:action => 'carga_zonas' %>",
          data: 'region=' + encodeURIComponent(region),
          cache: false,
          success: function(data) {}
        })
    }
</script>