<title>Agregar Empleado</title>
<div class="container">
  <div class="row">
    <div class="col">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
        <li class="breadcrumb-item">Mantenedores</li>
        <li class="breadcrumb-item">Empleados</li>
        <li class="breadcrumb-item active">Agregar Empleados</li>
      </ol>
    </div>
  </div>
  <!-- Formulario Agregar Empleado -->
  <%= form_tag empleados_path, :method => 'post' do %>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <b>Datos Funcionario</b> <span class="mdi mdi-account-card-details">
          </div>
          <div class="card-body">
            <% if @empleado.nombre.nil? %>
              <div class="row">
                <div class="col-md-6">
                  <div class="field">
                    <%= label_tag :nombre, "Nombres:" %><br>
                    <%= text_field_tag :nombre, '', :required => true, :class => "form-control input-sm", :placeholder => "ej: juan pedro" %>
                  </div>
                  <div class="field">
                    <%= label_tag :apellido_paterno, "Apellido paterno:" %>
                    <%= text_field_tag :apellido_paterno, '', :required => true, :class => "form-control input-sm", :placeholder => "ej: Gonzalez" %>
                  </div>
                  <%= render 'carga_contratistas' %>
                </div>
               
                <div class="col-md-6">
                  <div class="field">
                    <%= label_tag :rut, "Rut:" %><br>
                    <%= text_field_tag :rut, '', :required => true, :class => "form-control input-sm", :placeholder => "10.000.000-k" %>
                  </div>
                  <div class="field">
                    <%= label_tag "Apellido materno" %>
                    <%= text_field_tag :apellido_materno, '', :required => true, :class => "form-control input-sm", :placeholder => "ej: Garcia" %>
                  </div>
                  <%= render 'carga_subempresas' %>
                </div>
              </div>
            <% else %>
              <div class="col-md-6">
                <div class="field">
                  <%= label_tag :nombre, "Nombres" %><br>
                  <%= text_field_tag :nombre, '', :required => true, :class => "form-control input-sm", :placeholder => "Ingrese nombre completo", :value => @empleado.nombre %>
                </div>
                <div class="field">
                  <%= label_tag :apellido_paterno, "Apellido Paterno" %>
                  <%= text_field_tag :apellido_paterno, '', :required => true, :class => "form-control input-sm", :placeholder => "Ingrese apellido paterno ", :value => @empleado.apellido_paterno %>
                </div>
                <%= render 'carga_contratistas' %>
              </div>

              <div class="col-md-6">
                <div class="field">
                  <%= label_tag :rut, "Rut" %><br>
                  <%= text_field_tag :rut, '', :required => true, :class => "form-control input-sm", :placeholder => "Ingrese rut ", :value => @empleado.rut %>
                </div>
                <div class="field">
                  <%= label_tag :apellido_materno %>
                  <%= text_field_tag :apellido_materno, '', :required => true, :class => "form-control input-sm", :placeholder => "Ingrese apellido materno ", :value => @empleado.apellido_materno %>
                </div>
                <%= render 'carga_subempresas' %>
              </div>
            <% end %>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-header">
            <b>Regiones</b> <span class="mdi mdi-crosshairs-gps">
          </div>
          <div class="card-body">
            <div class="col-md-12">
              <%= render 'carga_zonas' %>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin Regiones -->
      <!-- Formulario de Usuario -->
      <br>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <b>Datos Usuario </b> <span class="mdi mdi-account">
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-5">
                <div class="field">
                  <%= label_tag :email, "Nombre Usuario" %><br>
                  <%= text_field_tag :email, '', :required => true, :class => "form-control input-sm", :placeholder => "Ingrese nombre usuario ",:autocomplete => :off %>
                </div>
                <label for="">Perfil</label>
                <%= select_tag "Perfil", options_from_collection_for_select(Perfil.all, "id", "nombre"), :prompt => "Seleccione ", :class => "form-control input-sm", :onchange => 'equipos();' %>
              </div>
              
              <div class="col-md-5">
                <div class="field">
                  <%= label_tag :password, "Contraseña" %>
                  <%= password_field_tag :password, '', :required => true, :class => "form-control input-sm", :placeholder => "Ingrese contraseña", :autocomplete => :off%>          
                </div>
              </div>
              
              <div class="col-md-1">
                <br>
                <button onclick="mostrarContrasena();" data-toggle="tooltip" data-placement="top" title="Ver Contraseña" type="button" class="btn btn-primary btn-md">
                  <i class="mdi mdi-eye "></i>
                </button>
              </div>
            </div>
          </div>
        </div>      
        <br>
        <%= render 'carga_equipos' %>
        <br>
        <div class="actions float-right">
          <div class="btn-group" role="group" aria-label="...">
            <%= link_to '<i class="mdi mdi-backspace"></i> Volver'.html_safe, empleados_path, class: "btn btn-danger"%>
            <button type="submit" class="btn btn-primary"> Guardar
              <span class="mdi mdi-content-save"></span>
            </button>
        </div>
    </div>
  </div>
<% end %>
  
<!-- # > Funciones JS  -->
<script type="text/javascript">
  $(document).ready(function(){
    // Mensajes en los Botones
    $('[data-toggle="tooltip"]').tooltip();   
    // Mascara Inputs 
    // $('#rut').mask('00.000.000-0');
    // $('#email').val('');
    $('#password').val('');

	});
  // Render Panel Equipos
  function equipos() { 
    var perfil = document.getElementById("Perfil").value;
    $.ajax({
      url: "<%=url_for :controller => 'empleados',:action => 'carga_equipos' %>",
      data: 'perfil=' + encodeURIComponent(perfil),
      cache: false,
      success: function (data) {}
    })
  }
  // Muestra el Input de la contraseña
  function mostrarContrasena(){
    var x = document.getElementById("password");
    if (x.type === "password") {
        x.type = "text";
    } else {
        x.type = "password";
    }
  }
</script>
