<title>Empleados</title>
<div class="container">
	<div class="row">
		<div class="col">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
				<li class="breadcrumb-item">Mantenedores</li>
	  		<li class="breadcrumb-item active">Empleados</li>
			</ol>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<div class="col-md-3">
        <%= link_to '<i class="mdi mdi-account-plus"></i> Agregar'.html_safe, new_empleado_path, class: "btn btn-success" %>
      </div>
			<br>
		<div class="table-responsive">
			<table class="table table-striped table-sm table-hover table-bordered ">
				<thead>
					<tr>
						<th><span class="mdi mdi-settings"></span></th>
						<th>Empleado</th>
						<th>Rut</th>
						<th>Contratista</th>
						<th>Empresa</th>
						<th>Nombre usuario</th>
					</tr>
				</thead>
				<tbody>
					<% @empleados.each do |empleado| %>
						<tr>
							<td>
								<%= link_to "Editar", edit_empleado_path(empleado.id) %>
								<button onclick="" data-toggle="tooltip" data-placement="top" title="Modificar" class="btn btn-default btn-sm" disabled="true">
									<i class="mdi mdi-account-edit"></i>
								</button>
								<button onclick="" data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn btn-primary btn-sm" disabled="true">
									<i class="mdi mdi-account-remove"></i>
								</button>
								<button onclick="" data-toggle="tooltip" data-placement="top" title="Desactivar" class="btn btn-danger btn-sm"  disabled="true" >
									<i class="mdi mdi-account-off"></i>
								</button>
							</td>
							<td><%= empleado.nombre_completo %></td>
							<td><%= empleado.rut %></td>
							<td><%= empleado.contratistum.nombre %></td>
							<td><%= empleado.subempresa.razon_social %></td>
							<% if !empleado.usuario.nil? %>
								<td><%= empleado.usuario.email%></td>
							<%else%>  
								<td></td>
							<%end%>					
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<br>
			<!-- # > Paginacion  -->
			<div class="row h-100 justify-content-center align-items-center">
				<%= will_paginate @usuarios, list_classes: %w(pagination align-center) %>
			</div>
		</div>
	</div>
</div>
</div>

<script type="text/javascript">
	//tooltip mensajes en los botones
	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip();   
	});

	function editarEmpleado(empleado_id){
		
	}

</script>
