<div id="busqueda">
  <div class="row container-fluid">
    <div class="col-md-6 div-padding">
      <b>Exportar:</b>
      <button onclick="exportarCsv()" class="btn btn-csv btn-sm">
        <span class="mdi mdi-file-excel"></span>CSV
      </button><br>
    </div>
    <div class="col-md-6">
      <% if !@improcedentes.nil? %>
      <li>Improcedentes: <%= @improcedentes %></li>
      <% end %>
      <% if !@efectivos.nil? %>
      <li>Efectivos: <%= @efectivos %></li>
      <% end %>
      <% if !@arrayOrdenes.nil? %>
        <li>Total Servicio Visitados: <%= @arrayOrdenes.count %></li>
      <% end %>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-header"><b><span class="mdi mdi-table-large"></span>Total de Visitas Realizas</b>
      <% if !@arrayOrdenes.nil? %>
        <span class="badge badge-secondary"><%= @arrayOrdenes.count %></span>
      <% end %>
    </div>
    <div class="card-body">
        <div class="table-responsive">
        <table class="table table-striped table-hover table-sm table-bordered animated fadeIn fast">
          <thead>
            <tr>
              <th colspan="2"><span class="mdi mdi-settings"></span> Operaciones</th>
              <th class="w-50">Nombre</th>
              <th>Número Cliente</th>
              <th>Dirección</th>
              <th>Comuna</th>
              <th>Zonal</th>
              <th>Grupo</th>
              <th>Libreta</th>
              <th>Correlativo</th>
              <th>Medidor</th>
              <th>Lect. Actual</th>
              <th>Tarifa</th>
              <th>Clave Lectura</th>
              <th>Condición de lectura</th>
              <th>Observación Lectura</th>
              <th>Comentario Lector</th>
              <th>Comentario Recinto</th>
              <th>Lector</th>
              <th>Fecha</th>
              <th>GPS Latitud</th>
              <th>GPS Longitud</th>
            </tr>
          </thead>
          <% if !@arrayOrdenes.nil? %>
              <% @arrayOrdenes.each do |orden| %>
                <tbody>
                  <%if orden[22]%>
                    <tr class="table-info">    
                  <% else %>
                    <tr class="table-warning">    
                  <% end %>                    <td>
                      <button onclick="mostrarModalFotografia('<%=orden[21]%>');" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="bottom" title="Ver Fotografia">
                        <span class="mdi mdi-camera"></span>
                      </button>
                    </td>
                    <td>
                      <button onclick="mostrarUbicacion('<%=orden[20]%>');mapa();" type="button" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Ubicación Rec">
                        <span class="mdi mdi-map-marker mdi-8px" style="color:white" ></span>
                      </button>
                    </td>
                    <td><%=orden[0]%></td>
                    <td><%=orden[1]%></td>
                    <td><%=orden[2]%></td>
                    <td><%=orden[3]%></td>
                    <td><%=orden[4]%></td>
                    <td><%=orden[5]%></td>
                    <td><%=orden[6]%></td>
                    <td><%=orden[7]%></td>
                    <td><%=orden[8]%></td>
                    <td><%=orden[9]%></td>
                    <td><%=orden[10]%></td>
                    <td><%=orden[11]%></td>
                    <% if orden[12] == "Lectura Posible" %>
                      <td style="color:darkgreen"><b><%=orden[12]%></b></td>
                    <%else%>
                      <td style="color:red"><b><%=orden[12]%></b></td>
                    <%end%>
                    <td><%=orden[13]%></td>
                    <td><%=orden[14]%></td>
                    <td><%=orden[15]%></td>
                    <td><%=orden[16]%></td>
                    <td><%=orden[17]%></td>
                    <td><%=orden[18]%></td>
                    <td><%=orden[19]%></td>
                  </tr>
                </tbody>
              <% end %>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Visualización de Fotografias -->
<div id="modalUno">
  <div id="modalFotografia" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div class="card">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
              <li class="breadcrumb-item">Lectura </li>
              <li class="breadcrumb-item">Análisis Online </li>
              <li class="breadcrumb-item active">Fotografias</li>
            </ol>
          </div>
          <br>
          <%= render 'operaciones/ver_fotografia' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Mostrar Ubicación -->
<div id="modal2">
  <div id="modalUbicacion" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content"  >
        <div class="modal-body">
          <div class="card">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
              <li class="breadcrumb-item">Lectura </li>
              <li class="breadcrumb-item">Operaciones </li>
              <li class="breadcrumb-item active">Ubicación Lectura</li>
            </ol>
          </div>
          <br>
          <%= render partial: 'operaciones/ver_ubicacion_cliente' %>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" >Cerrar</button>
            <button type="button" class="btn btn-success  pull-left" onclick="mapa();">Refrescar Mapa</button>
          </div>
      </div>
    </div>
  </div>
</div>

<script>


  function mostrarModalFotografia(orden_id){
    $.ajax({
      url:"<%=url_for :controller => 'operaciones',:action => 'ver_fotografia' %>",
      data:'id_orden=' + encodeURIComponent(orden_id),
      success:function (data) {}
    })
    $('#modalFotografia').modal();
  }


  function exportarCsv(){
    var comboMes = document.getElementById("Mes");
    var mes = comboMes.options[comboMes.selectedIndex].text;
    url="<%=url_for :controller => 'reporte_visitas', :action => 'exportar_csv' %>",
    location.href= url + '?mes=' + encodeURIComponent(mes);
  }


  function mostrarUbicacion(cliente){
    $.ajax({
      url:"<%=url_for :controller => 'operaciones', :action => 'ver_ubicacion_cliente', :format => :js %>",
      data:'cliente=' + encodeURIComponent(cliente),
      cache:false,
      success:function (data) {}
          })
    $('#modalUbicacion').modal();
    mapa();
  }
  $(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip();
		$('.pagination a').attr('data-remote', 'true')
  });
</script>
