<title>Reporte de Visitas</title>
<div class="container-fluid">
  <div class="card">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
      <li class="breadcrumb-item">Lectura </li>
      <li class="breadcrumb-item">Análisis Online </li>
      <li class="breadcrumb-item active">Reporte de Visitas</li>
    </ol>
  </div>
  <br>
  <div class="card">
    <div class="card-header">Buscador  <span class="mdi mdi-magnify"></span> </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">
          <label>Mes de Proceso:</label>
          <%=select_tag "Mes", options_from_collection_for_select(@porciones, "id", "mes"), :prompt=> "Todos",:onchange => "mostrarBusqueda();", :class => "custom-select custom-select-sm"%>
        </div>
        <div class="col-md-2">
          <br>
          <button type="button" class="btn btn-success form-control " onclick="mostrarBusqueda();" data-toggle="tooltip" data-placement="right" title="Buscar">
            <span class="mdi mdi-magnify"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <br>
<%= render 'mostrar_busqueda' %>


<script type="text/javascript">
  function mostrarBusqueda(){
    var comboMes = document.getElementById("Mes");
    var mes = comboMes.options[comboMes.selectedIndex].text;
    $.ajax({
      url: "<%=url_for :controller => 'reporte_visitas', :action => 'mostrar_busqueda' %>",
      data: 'mes=' + encodeURIComponent(mes),
      cache: false,
      success: function(data) {}
    })
    $('[data-toggle="tooltip"]').tooltip('dispose');
  }
</script>
