<div id="clientes_dudosos">
    <div class="card">
      <div class="card-header">
        CLIENTES DUDOSOS <span class="mdi mdi-chart-bar"></span>
      </div>
      <div class="card-body">
        <div id="grafico_dudosos"></div>
      </div>
    </div><br>
    <% if !@porcionGraficos.nil? %>
  
      <script  type="text/javascript" charset="utf-8">
          // Grafico Uno
          google.charts.load('current', {packages: ['corechart']});
  
          function drawEfectividad() {
              // Define the chart to be drawn.
              var data = google.visualization.arrayToDataTable([
                  //Define Estados
                  ['Estados de lectura', 'Clientes Dudosos', { role: 'annotation'} , 'Leídos', { role: 'annotation'}],
  
                  ['Santiago',  <%= @dudososValparaiso %>,'<%= @dudososValparaiso %>',      <%=@LeidoValparaiso%>, '<%=@LeidoValparaiso %>' ],
              ]);
  
              var options = {
                  colors: ['#d42229', '#575759'],
                  title: 'Clientes Dudosos V/S Leídos'};
  
              // Instantiate and draw the chart.
              var chart = new google.visualization.ColumnChart(document.getElementById('grafico_dudosos'));
              chart.draw(data, options);
          }
          google.charts.setOnLoadCallback(drawEfectividad);
      </script>
    <% end %>
  </div>