<div id="completitud">
  <div class="card">
    <div class="card-header">
      <span class="mdi mdi-chart-bar"></span> COMPLETITUD
    </div>
    <div class="card-body">
      <div id="grafico_completitud"></div>
    </div>
  </div><br>
  <% if !@porcionGraficos.nil? %>

    <script  type="text/javascript" charset="utf-8">
        // Grafico Uno
        google.charts.load('current', {packages: ['corechart']});

        function drawCompletitud() {
            // Define the chart to be drawn.
            var data = google.visualization.arrayToDataTable([
                //Define Estados
                ['Estados de lectura', 'Asignado', { role: 'annotation'} , 'Sin Asignar', { role: 'annotation'}],

                ['Santiago',  <%= @AsignadoValparaiso %>,'<%= @AsignadoValparaiso %>',      <%=@SinAsignarValparaiso%>, '<%=@SinAsignarValparaiso %>' ],
              
            ]);

            var options = {
                colors: ['#f2ca00', '#2e9054'],
                title: 'Asignado V/S Sin Asignar'};

            // Instantiate and draw the chart.
            var chart = new google.visualization.ColumnChart(document.getElementById('grafico_completitud'));
            chart.draw(data, options);
        }
        google.charts.setOnLoadCallback(drawCompletitud);
    </script>
  <% end %>
</div>