	<div id="dashboard">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-sm-6">
						<div class="row">
              	<div class="col-sm-6">
                  <%= image_tag 'interfase_fastbilling.png', :size => "230x70" %>
                </div>
                <div class="col-sm-6">
                  <%= image_tag 'aguas_andinas_nombre.gif', :size => "140x140" %>
                </div>
              </div>
					</div>
					<div class="col-sm-6">
						<div class="card">
							<div class="card-body">
								<tr>
									<td><strong>Nombre:</strong></td>
									<td> </td>
									<td><%= current_usuario.empleado.nombre_completo %></td>
								</tr><br>
								<tr>
									<td><strong>Perfil:</strong></td>
									<td> </td>
									<td><%= current_usuario.perfil.nombre %></td>
								</tr><br>
								<tr>
									<td><strong>Contratista:</strong></td>
									<td> </td>
									<td><%= current_usuario.empleado.contratistum.nombre %></td>
								</tr><br>
								<tr>
									<td><strong>Empresa:</strong></td>
									<td> </td>
									<td><%= current_usuario.empleado.subempresa.razon_social %></td>
								</tr><br>
								<tr>
									<td><strong>Ultima conexión:</strong></td>
									<td> </td>
									<td><%= current_usuario.last_sign_in_at.strftime("%H:%M:%S %d/%m/%Y") %></td>
								</tr><br>
							</div>
						</div>		
          </div>
				</div>
			</div>
		</div>
  <br>

  <!--
    # Graficos
   -->
  <div class="row">
    <!--
     # Grafico Asignado vs Cargados
     # Grafico Lectura uno
    -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <span class="mdi mdi-chart-pie" ></span>
          Ciclos en proceso:
        </div>
        <div class="card-body">
            <button type="button" id="selectAll" class="btn btn-info btn-sm"><span class="mdi mdi-check-all">Todos</span></button><hr>
            <ul>
              <% for porcion in @porciones %>
                  <%= check_box_tag "porcion_ids[]", porcion.id %>
                  <%= porcion.codigo %>
              <% end %>
            </ul>
            <br>
          <div class="pull-right">
              <button onclick="cargarGraficos()" class="btn btn-success btn-sm float-right"> <span class="mdi mdi-refresh"></span> Filtrar</button>
          </div>    
        </div>
      </div><br>
    </div>
    <div class="col-md-2">
      <div class="card text-white bg-secondary" style="max-width: 18rem;">
        <div class="card-header"><span class="mdi mdi-briefcase-check"></span> Efectivos</div>
        <div class="card-body">
          <h1 class="card-title text-xl-center"><%= @lEfectivas %></h1>
        </div>
      </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-danger" style="max-width: 18rem;">
          <div class="card-header  bg-danger"><span class="mdi mdi-alert"></span> Improcedentes</div>
          <div class="card-body">
            <h1 class="card-title text-xl-center"><%= @lImprocedentes %></h1>
          </div>
        </div>
      </div>
      <div class="col-md-2">
          <div class="card text-white bg-secondary" style="max-width: 18rem;">
            <div class="card-header"> <span class="mdi mdi-chart-donut"></span> Leídos</div>
            <div class="card-body">
              <h1 class="card-title text-xl-center"><%= @fLeido %></h1>
            </div>
          </div>
        </div>
      
  
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= render 'completitud' %>
    </div>
    <div class="col-md-4">
      <%= render 'productividad' %>
    </div>
    <div class="col-md-4">
      <%= render 'efectividad' %>
    </div>
    <!-- <div class="col-md-4">
      <%= render 'totales' %>
    </div> -->
  </div>
<!--
  Funciones JS
-->
<script type="text/javascript" charset="utf-8">
    function cargarGraficos(){
        let valoresCheck = [];
        $("input[type=checkbox]:checked").each(function(){
            valoresCheck.push(this.value);
        });
        
        $.ajax({
            url: "<%=url_for :controller => 'bienvenida',:action => 'completitud' %>",
            data: 'valoresCheck=' + encodeURIComponent(valoresCheck),
            cache: false,
            success: function(data) {}
        })

        $.ajax({
            url: "<%=url_for :controller => 'bienvenida',:action => 'productividad' %>",
            data: 'valoresCheck=' + encodeURIComponent(valoresCheck),
            cache: false,
            success: function(data) {}
        })

        $.ajax({
            url: "<%=url_for :controller => 'bienvenida',:action => 'efectividad' %>",
            data: 'valoresCheck=' + encodeURIComponent(valoresCheck),
            cache: false,
            success: function(data) {}
        })

        $.ajax({
            url: "<%=url_for :controller => 'bienvenida',:action => 'clientes_dudosos' %>",
            data: 'valoresCheck=' + encodeURIComponent(valoresCheck),
            cache: false,
            success: function(data) {}
        })
    }
      // CheckBox Seleecionar Todo
      $('#selectAll').click(function() {
        if (true) {
            $(':checkbox').each(function() {
                this.checked = true;
            });
        }
        else {
            $(':checkbox').each(function() {
                this.checked = false;
            });
        }
    });



</script>
