<div id="efectividad">
  <div class="card">
    <div class="card-header">
      <span class="mdi mdi-chart-bar"></span> EFECTIVIDAD
    </div>
    <div class="card-body">
      <div id="grafico_efectividad"></div>
    </div>
  </div><br>
  <% if !@porcionGraficos.nil? %>

    <script  type="text/javascript" charset="utf-8">
        // Grafico Uno
        google.charts.load('current', {packages: ['corechart']});

        function drawEfectividad() {
            // Define the chart to be drawn.
            var data = google.visualization.arrayToDataTable([
                //Define Estados
                ['Estados de lectura', 'Efectividad', { role: 'annotation'} , 'Leidos', { role: 'annotation'}],

                ['Santiago',  <%= @EfectividadValparaiso %>,'<%= @EfectividadValparaiso %>',      <%=@LeidoEfecValparaiso%>, '<%=@LeidoEfecValparaiso %>' ],
               
            ]);

            var options = {
                colors: ['#f2ca00', '#2e9054'],
                title: 'Leído V/S Efectivo'};

            // Instantiate and draw the chart.
            var chart = new google.visualization.ColumnChart(document.getElementById('grafico_efectividad'));
            chart.draw(data, options);
        }
        google.charts.setOnLoadCallback(drawEfectividad);
    </script>
  <% end %>
</div>