<div id="productividad">
  <div class="card">
    <div class="card-header">
        <span class="mdi mdi-chart-bar"></span> PRODUCTIVIDAD 
    </div>
    <div class="card-body">
      <div id="grafico_productividad"></div>
    </div>
  </div><br>
  <% if !@porcionGraficos.nil? %>

    <script  type="text/javascript" charset="utf-8">
        // Grafico Uno
        google.charts.load('current', {packages: ['corechart']});

        function drawProductividad() {
            // Define the chart to be drawn.
            var data = google.visualization.arrayToDataTable([
                //Define Estados
                ['Estados de lectura', 'Leído', { role: 'annotation'} , 'Asignado', { role: 'annotation'}],

                ['Santiago',  <%= @LeidoValparaiso %>,'<%= @LeidoValparaiso %>',      <%=@AsignadoProducValparaiso%>, '<%=@AsignadoProducValparaiso %>' ],
               
            ]);

            var options = {
                colors: ['#f2ca00', '#2e9054'],
                title: 'Leido V/S Asignado'};

            // Instantiate and draw the chart.
            var chart = new google.visualization.ColumnChart(document.getElementById('grafico_productividad'));
            chart.draw(data, options);
        }
        google.charts.setOnLoadCallback(drawProductividad);
    </script>
  <% end %>
</div>