<div id="completitud">
  <div class="card">
    <div class="card-header">
      Totales por ciclo <span class="mdi mdi-chart-bar"></span>
    </div>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Sin asignar', 'Hours per Day'],
          ['Asignado',     40],
          ['Cargado Smartphone',      20],
          ['Visitado',  20],
          ['Completado', 20],
        ]);

        var options = {
          title: 'Totales'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
    <div id="piechart" style="width: 350px; height: 700px;"></div>
</div>