<title>Claves y Obsevaciones de lecturas</title>
	<div class="row" >
		<div class="col-md-12">
			<div class="card">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
					<li class="breadcrumb-item">Catastros </li>
					<li class="breadcrumb-item active">Claves de lectura</li>
				</ol>
			</div>
		</div>
	</div>
	<br>
	<!-- Información -->
	<div class="row">
		<div class="col-md-6 div-padding">
			<b>Totales:</b><hr>
			<ul>
				<li>Claves Regitradas: <%= @totalClaves  %></li>
				<li>Observaciones Regitradas: <%= @totalObservaciones %></li>
			</ul>
		</div>
    <div class="col-md-3">
      <b>Importar:</b><hr>
      <%= link_to "CSV", catastro_clave_lecturas_form_import_path, class: "btn btn-csv btn-sm" %>
    </div>
		<div class="col-md-3">
    <b>Exportar:</b><hr>
    <button class="btn btn-csv btn-sm">
      <span class="mdi mdi-file-excel"></span>CSV</button>
    <button class="btn btn-pdf btn-sm">
      <span class="mdi mdi-file-pdf"></span>PDF</button>
  </div>
	</div><br>
	<!-- # > Botones e Información-->	
	<div class="card">
		<div class="card-header"><span class="mdi mdi-file"></span> <b>Claves de lectura</b></div>
		<div class="card-body">
			<!-- # > Tabla Contenido -->	
			<div class="table-responsive-sm">
				<table class="table table-striped table-hover table-sm table-bordered">
					<thead>
						<tr>
							<th>ID</th>
							<th>Código</th>
							<th>Clave Lectura</th>
							<th>Habilitada</th>
              <th>Num. Fotografía</th>
							<th>Requerido</th>
							<th>Efectivo</th>
              <th>Verificación</th>
              <th>Fotografia</th>
						</tr>
					</thead>
					<tbody>
						<% @clave_lecturas.each do |clave_lectura| %>
						<tr>
							<td><%= clave_lectura.id %></td>
							<td><b><%= clave_lectura.codigo%></b></td>
							<td><%= clave_lectura.nombre %></td>
							<td>
              	<b>
									<% if clave_lectura.habilitada %>
										<input type="checkbox" checked>
									<% else%>
										<input type="checkbox" >
									<%end%>
								</b>
							</td>
              <td><%= clave_lectura.num_fotografias %></td>
              <td>
              <b>
										<% if clave_lectura.requerido %>
											<input type="checkbox" checked>
										<% else%>
										<input type="checkbox" >
										<%end%>
									</b>
								</td>
								<td>
									<b>
										<% if clave_lectura.efectivo %>
											<input type="checkbox" checked>
										<% else%>
											<input type="checkbox" >
										<%end%>
									</b>
								</td>
              <td>
                <b>
                  <% if clave_lectura.verificacion %>
                    <input type="checkbox" checked>
                  <% else%>
                    <input type="checkbox" >
                  <%end%>
                </b>
              </td>
								<td>
										<b>
											<% if clave_lectura.foto%>
												<input type="checkbox" checked>
											<% else%>
												<input type="checkbox" >
											<%end%>
										</b>
									</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>	
		</div>
	</div>	
<!-- # > Funciones Js -->
<script type="text/javascript">
	// # > ToolTips Mensajes Botones
  $(document).ready(function(){
  	$('[data-toggle="tooltip"]').tooltip();
	});
	// # > Exportar CSV
 	function exportarCsv(){
  	url = "<%=url_for :controller => 'clave_lecturas',:action => 'exportar_csv' %>",
    location.href= url;
	}
	// # > Exportar PDF
	function exportarPdf(){
  	url = "<%=url_for :controller => 'clave_lecturas',:action => 'exportar_pdf', :format => :pdf %>",
    location.href= url;
	}
</script>
