<div id="carga_clientes">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-warning">
          <ul>
            <li>
              <% if !@totalClientes.nil? %>
                <label>Clientes Registrados: <%= @totalClientes%></label><br>
              <% end %>
            </li>
            <li>
              <% if !@clientesVerificados.nil? %>
                <label>Clientes Verificados: <%= @clientesVerificados %></label><br>
              <% end %>
            </li>
            <li>
              <% if !@clientesSinVerificar.nil? %>
                <label>Clientes Sin Verificar <%= @clientesSinVerificar %> </label>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header"><span class="mdi mdi-account"></span> Clientes</div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped table-hover table-sm table-bordered animated fadeIn fast">
            <thead>
              <tr>
                <th colspan="3">Operaciones</th>
                <th>ID</th>
                <th>Número cliente</th>
                <th>Cliente</th>
                <th>Dirección</th>
                <th>Sub Empresa</th>
                <th>Verificado</th>
              </tr>
            </thead>
            <tbody>
              <% if !@clientes.nil? %>
                <% @clientes.each do |cliente| %>
                  <tr>
                    <td>
                      <button onclick="verFotografia('<%= cliente.orden_lectura.last.id%>');" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="Fotografías">
                        <span class="mdi mdi-camera"></span>
                      </button
                    </td>
                    <td> 
                      <button onclick="verUbicacion('<%=cliente.orden_lectura.last.id%>')" type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Ubicación Lector">
                        <span class="mdi mdi-map-marker"></span>
                      </button>
                    </td>
                    <td> 
                      <button onclick="verUbicacionCliente('<%=cliente.id%>')"type="button" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="Ubicación Recinto">
                        <span class="mdi mdi-map-marker"></span>
                      </button>
                    </td>
                    <td><%=cliente.id%></td>
                    <td><%=cliente.numero_cliente%></td>
                    <td><%=cliente.nombre%></td>
                    <td><%=cliente.direccion%></td>
                    <td><%=cliente.orden_lectura.first.subempresa.razon_social%> </td>
                    <td>
                      <% if cliente.verificado %>
                        <input type="checkbox" checked>
                      <% else %>
                        <input type="checkbox" >
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
        <div id="will_paginate_id" class="row h-100 justify-content-center align-items-center">
          <% if !@clientes.nil?%>
            <%= will_paginate @clientes %> <br>
          <% end %>
        </div>
      </div>
    </div>
  </div>
    

        <!-- Modal Fotografia -->
<div id="modal1">
    <div id="modalFotografia" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content" >
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"> <span class="mdi mdi-camera"></span> Fotografías </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'operaciones/ver_fotografia' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  </div>

        <div id="modal2">
            <div id="modalUbicacion" class="modal fade" role="dialog">
              <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content"  >
                  <div class="modal-body">
                    <div class="card">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
                        <li class="breadcrumb-item">Lectura </li>
                        <li class="breadcrumb-item">Operaciones </li>
                        <li class="breadcrumb-item"><%=link_to 'Historico Lecturas', lectura_operaciones_monitor_lectores_path%></li>
                        <li class="breadcrumb-item active">Ubicación Lectura</li>
                      </ol>
                    </div>
                    <br>
                    <%= render partial: 'operaciones/ver_ubicacion' %>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal" >Cerrar</button>
                      <button type="button" class="btn btn-success  pull-left" onclick="mapa();">Refrescar Mapa</button>
                    </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          <iv id="modal3">
            <div id="modalUbicacionCliente" class="modal fade" role="dialog">
              <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content"  >
                  <div class="modal-body">
                    <div class="card">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
                        <li class="breadcrumb-item">Lectura </li>
                        <li class="breadcrumb-item">Operaciones </li>
                        <li class="breadcrumb-item"><%=link_to 'Historico Lecturas', lectura_operaciones_monitor_lectores_path%></li>
                        <li class="breadcrumb-item active">Ubicación Lectura</li>
                      </ol>
                    </div>
                    <br>
                    <%= render partial: 'visualizacion_lecturas/ver_ubicacion_cliente' %>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal" >Cerrar</button>
                      <button type="button" class="btn btn-success  pull-left" onclick="mapa();">Refrescar Mapa</button>
                    </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          
         

<script type="text/javascript">
 
  function verUbicacion(orden_id){
    $.ajax({
      url:"<%=url_for :controller => 'operaciones', :action => 'ver_ubicacion', :format => :js %>",
      data:'orden_id=' + encodeURIComponent(orden_id),
      cache:false,
      success:function (data) {}
    })
    $('#modalUbicacion').modal();
    mapa();
  }      
        
  function verUbicacionCliente(cliente){
    $.ajax({
      url:"<%=url_for :controller => 'operaciones', :action => 'ver_ubicacion_cliente', :format => :js %>",
      data:'cliente=' + encodeURIComponent(cliente),
      cache:false,
      success:function (data) {}
    })
    $('#modalUbicacionCliente').modal();
    //mapaRecinto();
  }
  // # > Mostrar Fotografias
  function verFotografia(orden_id){
    $.ajax({
      url:"<%=url_for :controller => 'operaciones',:action => 'ver_fotografia', :format => :js %>",
      data:'id_orden=' + encodeURIComponent(orden_id),
      cache:false,
      success:function (data) {}
    })
    $('#modalFotografia').modal();
	}
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

</div>