<title>Ajustes GPS</title>
<div class="container-fluid">
	<div class="card">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
			<li class="breadcrumb-item">Lecturas </li>
			<li class="breadcrumb-item">Análisis Online</li>
			<li class="breadcrumb-item active">Ajuste ubicación GPS</li>
		</ol>
  </div>
</div>
<br>
<div class="container-fluid">
  <div class="card">
    <div class="card-header"><span class="mdi mdi-magnify"></span> Buscador</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <span class="mdi mdi-animation"></span> <label>Estado:</label><br>
          <select name="select" onchange="cargaClientes();" id="estado" class="custom-select custom-select-sm">
            <option value="1">Verificado</option> 
            <option value="2">Sin Verificar</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container-fluid">
  <%= render "carga_clientes" %>
</div>


<script>
  function cargaClientes() {
    /*Carga las porciones disponibles de una zona */
		var estado = document.getElementById("estado").value;
		$.ajax({
			url: "<%=url_for :controller => 'ajuste_ubicacion',:action => 'carga_clientes' %>",
			data: 'estado=' + encodeURIComponent(estado),
			cache: false,
			success: function(data) {}
		})
	}
</script>