<title>Perfiles de usuario</title>
	<!-- # > BreadCrumb Items -->
	<div class="card">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></li>
			<li class="breadcrumb-item">Catastros </li>
			<li class="breadcrumb-item active">Perfiles de Usuario</li>
		</ol>
	</div>
	<br>
	<!-- # > Botones e Información -->	
	<div class="row">
		<div class="col-md-6 div-padding">
			<b>Totales:</b><br>
			<ul>
				<li>Perfiles Registrados: <%= @perfiles.count %></li>
				<li>Usuarios Registrados: <%= @usuariosCount%></li>
			</ul>
		</div>
		<div class="col-md-3">
				<b>Exportar:</b><hr>
				<button class="btn btn-sm btn-csv">
					<span class="mdi mdi-file-excel"></span>CSV</button>
				<button class="btn btn-sm btn-pdf">
					<span class="mdi mdi-file-excel"></span>PDF</button>
			</div>
	</div><br>

	<div class="card">
		<div class="card-header"><span class="mdi mdi-account-multiple"></span> <b>Perfiles de usuario</b></div>
		<div class="card-body">
			<!-- # > Tabla Contenido -->	
			<div class="table-responsive-sm">
				<table class="table table-sm table-hover table-striped table-bordered animated fadeIn fast">
					<thead>
						<tr>
							<th>Nombre</th>
							<th style="width: 20%">Total Usuarios</th>
						</tr>
					</thead>
					<tbody>
						<% cache 'perfiles' do %>
							<% @perfiles.each do |perfil| %>
								<tr>
									<td><%= perfil.nombre %></td>
									<td style="font-size:14px">
									<%= perfil.usuario.count %>
									</td>
								</tr>
							<% end %>
						<%end%>
					</tbody>
				</table>
			</div>
		</div>
	</div>
<!-- # > Funciones JS -->
<script type="text/javascript">
	// # > ToolTips Mensajes Botones
	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip();   
	});
	// # > Exportar CSV
  function exportarCsv(){
  	url = "<%=url_for :controller => 'perfils',:action => 'exportar_csv' %>",
    location.href= url;
	}
	// # > Exportar PDF
	function exportarPdf(){
  	url = "<%=url_for :controller => 'perfils',:action => 'exportar_pdf', :format => :pdf %>",
    location.href= url;
	}
</script>