<div id="carga_filtro">
	<br>
	<div class="card">
			<div class="card-header"><b>Resultados de la Busqueda</b> <span class="mdi mdi-table-large"></span></div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-2">
						<div class="btn-group">
							<button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="mdi mdi-cloud-download"></span>	Exportar <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
									<li><a onclick="exportarPdf();" target="_blank" target="_blank"><span class="mdi mdi-file-pdf mdi-18px"></span> PDF </a></li>
							<li><a onclick="exportarExcel();"><span class="mdi mdi-file-excel mdi-18px"></span> CSV </a></li>
						</ul>
					</div>
				</div>
			</div>
			<br>
			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm table-bordered animated fadeIn fast">
					<thead>
						<tr>
							<th>Porción</th>
							<th>Comuna</th>
							<th>Lector</th>
							<th>Ruta</th>
							<th>Asignado</th>
							<th>Lectura Normal</th>
							<th>Lectura Verificada</th>
							<th>Lectura Por Cliente</th>
							<th>Sin Acceso al Medidor</th>
							<th>Dirección no ubicada</th>
							<th>Med. Ilegible</th>
							<th>Med. Incendiado o Destruido </th>
							<th>Lectura Sobre Tope</th>
							<th>No Permite Leer</th>
							<th>Med. no registra consumo</th>
							<th>Med. no existe</th>
							<th>Med. Cambiado</th>
							<th>Lectura Con Binoculares</th>
							<th>Girar Med. por lectura</th>
							<th>Servicio sin energia</th>
							<th>Pantalla en Blanco</th>
							<th>Med. Error software</th>
							<th>Sin llave para acceder</th>
							<th>Vidrio Sucio</th>
							<th>Condominio sin acceso</th>
							<th>Acercar Medidor al vidrio caja</th>
							<th>Caja de empalme deteriorada</th>
							<th>Podar Ramas</th>
							<th>Casa Deshabitada</th>
							<th>Casa Veraneo</th>
							<th>Riego Perro</th>
						</tr>	
						</tr>
					</thead>
					<tbody>
						<% if !@lista.nil?%>
							<% @lista.each do |l| %>
								<tr>
									<td><%= l[0] %></td>
									<td><%= l[1].capitalize %></td>
									<td><%= l[2] %></td>
									<td><%= l[3]%></td>
								</tr>
							<% end %>
						<% end %>
					</tbody>
				</table>
			</div>
			</div>
		</div> 
	</div>

<script>
		function exportarExcel(){
			var zona    = document.getElementById("Zona").value;
			var porcion = document.getElementById("Porcion").value;
			url = "<%=url_for :controller => 'reporte_efectividad_porcion',:action => 'exportar_excel' %>",
			location.href= url + '?zona=' + encodeURIComponent(zona)+ 
													 '&porcion=' + encodeURIComponent(porcion);
	}
	// Exportar PDF
	function exportarPdf(){
			var zona = document.getElementById("Zona").value;
			var porcion = document.getElementById("Porcion").value;
			url = "<%=url_for :controller => 'reporte_efectividad_porcion',:action => 'exportar_pdf' %>",
			location.href= url + '?zona=' + encodeURIComponent(zona)+ 
													 '&porcion=' + encodeURIComponent(porcion);
								 
	}
</script>
