<title>Histórico de Lecturas de un Cliente</title>
<div class="container-fluid">
	<div class="card">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
      <li class="breadcrumb-item">Lectura </li>
      <li class="breadcrumb-item">Análisis Online </li>
      <li class="breadcrumb-item active">Histórico de Lecturas de un Cliente</li>
    </ol>
	</div>
  <br>
	<div class="card">
		<div class="card-header"><b>Buscador</b> <span class="mdi mdi-magnify"></span></div>
		<div class="card-body">
			<div class="row">
        <div class="col-md-2">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Radios" id="exampleRadios1" value="1" checked>
            <label class="form-check-label">
              Número Cliente
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="Radios" id="exampleRadios2" value="2">
            <label class="form-check-label">
              Número Medidor
            </label>
          </div>
        </div>
				<div class="col-md-4">
					<label>Ingrese Nº: </label>
					<input class="form-control input-sm" type="text" id="busqueda">
				</div>
				<div class="col-md-1">
					<br>
					<button type="button" class="btn btn-success" onclick="mostrarFiltro();">
						<span class="mdi mdi-magnify" ></span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div>
	<%= render 'carga_filtro'%>
</div>
</div>


<script type="text/javascript">

	function mostrarFiltro() {
      var rates = document.getElementsByName('Radios');
      var seleccion;
      for(var i = 0; i < rates.length; i++){
          if(rates[i].checked){
              seleccion = rates[i].value;
          }
      }
      var busqueda = document.getElementById("busqueda").value;
	  $.ajax({
	  	url:"<%=url_for :controller => 'historico_lecturas',:action => 'carga_filtro', :format => :js %>",
	  	data:'seleccion=' + encodeURIComponent(seleccion) + "&" +
           'busqueda=' + encodeURIComponent(busqueda),
	  	cache:false,
	    success:function (data) {}
	  })
	}
</script>
