<div id="carga_filtro">
	<br>
	<div class="card">
		<div class="card-header"><b>Resultados de la Busqueda</b> <span class="mdi mdi-table-large"></span></div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-2">
					<div class="btn-group">
						<button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="mdi mdi-cloud-download"></span>	Exportar <span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a onclick="exportarPdf();" class="dropdown-item"><span class="mdi mdi-file-pdf mdi-18px"></span> PDF </a></li>
							<li><a onclick="exportarExcel();" class="dropdown-item"><span class="mdi mdi-file-excel mdi-18px"></span> CSV </a></li>
						</ul>
					</div>
				</div>
			</div>
			<br>
			<div class="table-responsive-sm">
				<table class="table table-striped table-hover table-sm table-bordered animated fadeIn fast">
					<thead>
						<tr>
							<th>Comuna</th>
							<th>Lector</th>
							<th>Ruta</th>
							<th>Cliente</th>
							<th>Nº Instalación</th>
							<th>Nº Cliente</th>
							<th>Dirección</th>
							<th>Fecha Lectura</th>
							<th>Hora Visitada</th>
							<th>Clave Lectura</th>
							<th>Observación de Lectura</th>
							<th>Nº Folio</th>
						</tr>
					</thead>
					<tbody>
						<% if !@lista.nil?%>
							<% @lista.each do |l| %>
								<tr>
									<td><b><%= l[1].capitalize %></b></td>
									<td><%= l[2] %></td>
									<td><b><%= l[3] %></b></td>
									<td><b><%= l[4] %></b></td>
									<td><b><%= l[5] %></b></td>
									<td><b><%= l[6] %></b></td>
									<td><b><%= l[11]%></b></td>
									<td><b><%= l[7] %></b></td>
									<td><b><%= l[8] %></b></td>
									<td><span class="badge badge-info"><b><%= l[9] %></b></span></td>
									<td><span class="badge badge-primary"><b><%= l[12] %></b></span></td>
									<td><span class="badge badge-danger"><b><%= l[10] %></b></span></td>
								</tr>
							<% end %>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div> 
</div>

<script>
		function exportarExcel(){
			var zona    = document.getElementById("Zona").value;
			var porcion = document.getElementById("Porcion").value;
			var lector = document.getElementById("Lector").value;		
			url = "<%=url_for :controller => 'reporte_casa_cerrada',:action => 'exportar_excel' %>",
			location.href= url + '?zona=' + encodeURIComponent(zona)+ 
													 '&lector=' + encodeURIComponent(lector)+ 
													 '&porcion=' + encodeURIComponent(porcion);
	}
	// Exportar PDF
	function exportarPdf(){
			var zona = document.getElementById("Zona").value;
			var porcion = document.getElementById("Porcion").value;
			var lector = document.getElementById("Lector").value;
			url = "<%=url_for :controller => 'reporte_casa_cerrada',:action => 'exportar_pdf' %>",
			location.href= url + '?zona=' + encodeURIComponent(zona)+ 
													 '&lector=' + encodeURIComponent(lector)+
													 '&porcion=' + encodeURIComponent(porcion);
								 
	}
</script>
