<title>Reporte Casa Cerrada</title>
<div class="container">
	<div class="row" id="panel-titulos">
		<div class="col-md-12">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
				<li class="breadcrumb-item">Lectura </li>
				<li class="breadcrumb-item">Reportes </li>
	  		<li class="breadcrumb-item active">Control de Folios Casa Cerrada <small><span class="badge badge-danger">CC</span></small></li>
			</ol>
		</div>
	</div>
<div class="card">
	<div class="card-header"><b>Buscador</b> <span class="mdi mdi-magnify"></span></div>
	<div class="card-body">
		<div class="row">
				<div class="col-md-4">
					<label for="">Regiones</label>
					<%=select_tag "Zona", options_from_collection_for_select(@zonas, "id", "nombre"), :prompt=> "Seleccionar", :class => "form-control input-sm" , :onchange => 'carga_porciones();carga_lectores(); '%>
				</div>
				<div class="col-md-3">
					<label for="">Porciones</label>
					<%= render 'carga_porciones' %>
				</div>
				<div class="col-md-3">
					<label for="">Lectores</label>
					<%= render 'carga_lectores' %>
				</div>	
				<div class="col-md-2">
					<br>
					<button type="button" onclick="carga_filtro();" class="btn btn-success"><span class="mdi mdi-magnify"></span></button>			
				</div>	
			</div>
	</div>
</div>
</div>
<div class="container">
	<%= render 'carga_filtro'%>
</div>

<script type="text/javascript">
	function carga_filtro(){
		var zona    = document.getElementById("Zona").value;
		var porcion = document.getElementById("Porcion").value;
		var lector = document.getElementById("Lector").value;		
		$.ajax({
            url: "<%=url_for :controller => 'reporte_casa_cerrada',:action => 'carga_filtro' %>",
						data: 'zona=' + encodeURIComponent(zona)+ "&" +
									'lector=' + encodeURIComponent(lector)+ "&" +
									'porcion=' + encodeURIComponent(porcion),
            cache: false,
            success: function(data) {}
        })
	}

	//Carga Porciones
	function carga_porciones() {
		var zona = document.getElementById("Zona").value;
		$.ajax({
            url: "<%=url_for :controller => 'reporte_casa_cerrada',:action => 'carga_porciones' %>",
						data: 'zona=' + encodeURIComponent(zona),
            cache: false,
            success: function(data) {}
        })
	}	
	function carga_lectores() {
		var zona = document.getElementById("Zona").value;
		$.ajax({
            url: "<%=url_for :controller => 'reporte_casa_cerrada',:action => 'carga_lectores' %>",
						data: 'zona=' + encodeURIComponent(zona),
            cache: false,
            success: function(data) {}
        })
	}	
</script>
