<div id="cargar_ordenes">
  <div class="card">
    <div class="card-header"><b>Visualización de Lecturas</b> <span class="mdi mdi-table-large"></span></div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped table-hover table-sm table-bordered animated fadeIn fast">
            <thead>            
              <tr>
              <th colspan="2"> <span class="mdi mdi-settings"></span> Operaciones</th>
              <th>Nombre</th>
              <th>Número Cliente</th>
              <th>Dirección</th>
              <th>Medidor</th>
              <th>Subempresa</th>
              <th>Ruta</th>
              <th>Tarifa</th>
              <th>Lect. Activa</th>
              <th>Lect. Reactiva</th>
              <th>Hora Punta Encontrada</th>
              <th>Hora Punta Dejada</th>
              <th>Hora</th>
              <th>Fecha</th>
              <th>Fuera Punta Encontrada</th>
              <th>Fuera Punta Dejada</th>
              <th>Reset</th>
              <th>Nº Sello Encontrado</th>
              <th>Nº Sello dejado</th>
              <th>Clave Lectura</th>
              <th>Condición de lectura</th>
              <th>Observación Lectura</th>
              <th>Comentario Lector</th>
              <th>Comentario Recinto</th>
              <th>Lector</th>
              <th>Fecha</th>
            </tr>
            </thead>
            <% if !@ordenLecturas.nil? %>
              <% @ordenLecturas.each do |orden_lectura| %>
                <tbody>
                <%if orden_lectura.detalle_orden_lectura.first.clave_lectura.efectivo%>
                  <tr class="table-info">    
                <% else %>
                  <tr class="table-warning">    
                <% end %>

                    <td>
                      <button onclick="verFotografias('<%= orden_lectura.id%>');" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="Fotografías">
                        <span class="mdi mdi-camera"></span>
                      </button>
                    </td>
                    <td> 
                      <button onclick="verUbicacionCliente('<%=orden_lectura.cliente_id%>')"type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Ubicación Recinto">
                        <span class="mdi mdi-map-marker"></span>
                      </button>
                    </td>
                    <td><%= orden_lectura.cliente.nombre %></td>
                    <td><%= orden_lectura.cliente.numero_cliente%></td>
                    <td class="w-50"><%= orden_lectura.cliente.direccion%></td>
                    <td><%= orden_lectura.medidor.numero_medidor%></td>
                    <td><%= orden_lectura.subempresa.razon_social%></td>
                    <td><%= orden_lectura.rutum.codigo%></td>
                    <td><b><%= orden_lectura.factor_cobro.nombre %></b></td>
                    <td><b><%= orden_lectura.detalle_orden_lectura.first.lectura_actual %></b></td>
                    <% if orden_lectura.factor_cobro.nombre == "BT1" %>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    <% end %>
                    <% if orden_lectura.factor_cobro.nombre == "BT2" %>
                      <td><b><%=orden_lectura.detalle_orden_lectura.second.lectura_actual %></b></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    <% end %>
                    <% if orden_lectura.factor_cobro.nombre == "BT3" %>
                      <td><b><%=orden_lectura.detalle_orden_lectura.second.lectura_actual %></b></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[2].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[3].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[4].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[5].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[6].lectura_actual %></b></td>
                    <% end %>
                    <% if orden_lectura.factor_cobro.nombre == "BT43" %>
                      <td><b><%=orden_lectura.detalle_orden_lectura[1].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[2].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[3].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[7].lectura_actual %></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[6].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[4].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[5].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[8].lectura_actual %></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[9].lectura_actual %></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[10].lectura_actual %></td>
                    <% end %>
                    <% if orden_lectura.factor_cobro.nombre == "AT2" %>
                      <td><b><%=orden_lectura.detalle_orden_lectura[1].lectura_actual %></b></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    <% end %>
                    <% if orden_lectura.factor_cobro.nombre == "AT3" %>
                      <td><b><%=orden_lectura.detalle_orden_lectura[1].lectura_actual %></b></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[2].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[3].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[4].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[5].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[6].lectura_actual %></b></td>
                    <% end %>
                    <% if orden_lectura.factor_cobro.nombre == "AT43" %>
                      <td><b><%=orden_lectura.detalle_orden_lectura[1].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[2].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[3].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[7].lectura_actual %></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[6].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[4].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[5].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[8].lectura_actual %></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[9].lectura_actual %></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[10].lectura_actual %></td>
                    <% end %>
                    <% if !orden_lectura.detalle_orden_lectura.first.clave_lectura.nil? %>
                      <td><b><%= orden_lectura.detalle_orden_lectura.first.clave_lectura.nombre%></b></td>
                      <%if orden_lectura.detalle_orden_lectura.first.clave_lectura.descripcion_corta == "Lectura Posible" %>
                        <td style="color:darkgreen"><b><%= orden_lectura.detalle_orden_lectura.first.clave_lectura.descripcion_corta%></b></td>
                      <% else %>
                        <td style="color:red"><b><%= orden_lectura.detalle_orden_lectura.first.clave_lectura.descripcion_corta%></b></td>
                      <% end %>
                    <% else %>
                      <td></td>
                      <td></td>
                    <% end %>
                    <% if !orden_lectura.detalle_orden_lectura.first.observacione.nil? %>
                      <td><b><%= orden_lectura.detalle_orden_lectura.first.observacione.descripcion%></b></td>
                    <% else %>
                      <td></td>
                    <% end %>
                    <td><b><%= orden_lectura.observacion %></b></td>
                    <td><b><%= orden_lectura.cliente.observacion_recinto%></b></td>

                    <% if !orden_lectura.asignacion.nil? %>
                      <td><b><%= orden_lectura.asignacion.empleado.nombre_completo%></b></td>
                    <% else %>
                      <td></td>
                    <% end %>
                    <% if !orden_lectura.detalle_orden_lectura.first.fecha_ejecucion.blank? %>
                      <td><b><%= orden_lectura.detalle_orden_lectura.first.fecha_ejecucion.strftime('%e/%m/%Y %I:%M:%S %p') %></b></td>
                    <% else %>
                      <td></td>
                    <% end %>
                  </tr>
                </tbody>
              <% end%>
            <%end%>
          </table>
        </div>
      </div>
      <div id="will_paginate_id" class="row h-100 justify-content-center align-items-center">
        <% if !@ordenLecturas.nil?%>
          <%= will_paginate @ordenLecturas %> <br>
        <% end %>
      </div>
    </div>
  </div>
</div>


<!-- Visualización de Fotografias -->
<div id="modalUno">
  <div id="modalFotografia" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><span class="mdi mdi-camera"></span> Fotografías </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%=render 'operaciones/ver_fotografia'%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Visualización ubicación cliente -->
<div id="modalDos">
	<div id="modalUbicacion" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">
      <!-- Modal content-->
			<div class="modal-content"  >
        <div class="modal-body">
          <div class="card">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
              <li class="breadcrumb-item">Lectura </li>
              <li class="breadcrumb-item">Operaciones </li>
              <li class="breadcrumb-item"><%=link_to 'Historico Lecturas', lectura_operaciones_monitor_lectores_path%></li>
              <li class="breadcrumb-item active">Ubicación Lectura</li>
            </ol>
          </div>
          <br>
          <%= render partial: 'operaciones/ver_ubicacion' %>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" >Cerrar</button>
            <button type="button" class="btn btn-success  pull-left" onclick="mapa();">Refrescar Mapa</button>
				  </div>
			  </div>
		  </div>
	  </div>
  </div>
</div>
<!--Visualización ubicación recinto -->
<div id="modalTres">
	<div id="modalUbicacionCliente" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">
      <!-- Modal content-->
			<div class="modal-content"  >
        <div class="modal-body">
          <div class="card">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
              <li class="breadcrumb-item">Lectura </li>
              <li class="breadcrumb-item">Operaciones </li>
              <li class="breadcrumb-item"><%=link_to 'Historico Lecturas', lectura_operaciones_monitor_lectores_path%></li>
              <li class="breadcrumb-item active">Ubicación Lectura</li>
            </ol>
          </div>
          <br>
          <%= render partial: 'operaciones/ver_ubicacion_cliente' %>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" >Cerrar</button>
            <button type="button" class="btn btn-success  pull-left" onclick="mapaRecinto();">Refrescar Mapa</button>
				  </div>
			  </div>
		  </div>
	  </div>
  </div>
</div>

<script type="text/javascript">
  function verFotografias(orden_id){
    $.ajax({
      url:"<%=url_for :controller => 'operaciones',:action => 'ver_fotografia', :format => :js %>",
      data:'id_orden=' + encodeURIComponent(orden_id),
      success:function (data) {}
    })
    $('#modalFotografia').modal();
  }

  function verUbicacion(orden_id){
    $.ajax({
			url:"<%=url_for :controller => 'operaciones', :action => 'ver_ubicacion', :format => :js %>",
      data:'orden_id=' + encodeURIComponent(orden_id),
      cache:false,
      success:function (data) {}
		})
    $('#modalUbicacion').modal();
    mapa();
  }


  function verUbicacionCliente(cliente){
    $.ajax({
			url:"<%=url_for :controller => 'clientes_improcedentes', :action => 'ver_ubicacion_cliente', :format => :js %>",
      data:'cliente=' + encodeURIComponent(cliente),
      cache:false,
      success:function (data) {}
		})
    $('#modalUbicacionCliente').modal();
    mapaRecinto();
  }

  // # > Mensajes de los botones
  $(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip();
		$('.pagination a').attr('data-remote', 'true')
  });
  
</script>
