<title>Clientes Improcedentes</title>
<div class="container-fluid">
  <div class="card">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
      <li class="breadcrumb-item">Lectura </li>
      <li class="breadcrumb-item">Análisis Online </li>
      <li class="breadcrumb-item active">Clientes Improcedentes</li>
    </ol>
  </div>
  <br>
  <div class="card">
    <div class="card-header"><b>Buscador</b> <span class="mdi mdi-magnify"></span></div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2">
              <span class="mdi mdi-city"></span> <label>Oficina:</label><br>
              <%=select_tag "zona", options_from_collection_for_select(@zonas, "id", "nombre"),:onchange => "mostrarPorciones();cargarOrdenes();", :prompt=> "Seleccione", :class =>"custom-select custom-select-sm"%>
            </div>
            <div class="col-md-W">
              <span class="mdi mdi-chart-pie"></span> <label>Grupo:</label><br>
              <%= render 'cargar_porciones' %>
            </div>
            <div class="col-md-2">
              <span class="mdi mdi-account"></span> <label>Lector:</label><br>
              <%=select_tag "empleado", options_from_collection_for_select(@empleados, "id", "nombre_completo"),:onchange => "cargarOrdenes();", :prompt=> "Todos", :class =>"custom-select custom-select-sm"%>
            </div>
            <div class="col-md-2">
              <span class="mdi mdi-animation"></span> <label>Proceso:</label>
              <%=select_tag "tipo_lectura", options_from_collection_for_select(@tipo_lecturas, "id", "nombre"),:class =>"custom-select custom-select-sm", :onchange => "cargarOrdenes();"%>
            </div>
            <div class="col-md-2">
              <span class="mdi mdi-checkbox-multiple-marked-circle"></span> <label>Clave Lectura:</label>
              <%=select_tag "clave_lectura", options_from_collection_for_select(@Claves, "id", "nombre"),:class =>"custom-select custom-select-sm",  :prompt=> "Todas", :onchange => "cargarOrdenes();"%>
            </div>
            <div class="col-md-2">
              <span class="mdi mdi-worker"></span> <label>Sub Empresa:</label>
              <%=select_tag "sub_empresa", options_from_collection_for_select(@subempresa, "id", "razon_social"),:class =>"custom-select custom-select-sm",  :prompt=> "Todas", :onchange => "cargarOrdenes();"%>
            </div>
            <div class="col-md-1">
              <br>
              <button type="button" class="btn btn-success form-control " onclick="cargarOrdenes();">
                <span class="mdi mdi-magnify"></span>
              </button>
						</div>
          </div>
        </div>
			</div>
		</div>
  </div>
</div>
<br>
<div class="container-fluid">
  <div class="col-md-6 div-padding">
    <b>Exportar:</b>
    <button onclick="exportarCsv()" class="btn btn-csv btn-sm">
      <span class="mdi mdi-file-excel"></span>CSV
  </button>
</div>
<br>
<div class="container-fluid">
	<%= render partial: 'cargar_ordenes'%>
</div>

<!-- # > Funciones JS -->
<script type="text/javascript">
	
  // Carga todas las ordenes leídas
	function cargarOrdenes(){
	  // Obtengo variables
    var zona = document.getElementById("zona").value;
	  var porcion = document.getElementById("porcion").value;
	  var proceso = document.getElementById("tipo_lectura").value;
    var empleado = document.getElementById("empleado").value;
    var clave_lectura = document.getElementById("clave_lectura").value;
    var sub_empresa = document.getElementById("sub_empresa").value;
    $.ajax({
	  	url:"<%=url_for :controller => 'clientes_improcedentes',:action => 'cargar_ordenes'%>",
	    data:'porcion=' + encodeURIComponent(porcion) + "&" +
			 		 'proceso=' + encodeURIComponent(proceso) + "&" + 
           'zona=' + encodeURIComponent(zona) + "&" + 
           'clave_lectura=' + encodeURIComponent(clave_lectura) + "&" + 
           'sub_empresa=' + encodeURIComponent(sub_empresa) + "&" + 
           'empleado=' + encodeURIComponent(empleado),
	    cache:false,
	    success:function (data) {}
	  })
	}

  function exportarCsv(){
    // Obtengo variables
    var zona = document.getElementById("zona").value;
	  var porcion = document.getElementById("porcion").value;
	  var proceso = document.getElementById("tipo_lectura").value;
    var empleado = document.getElementById("empleado").value;
    var clave_lectura = document.getElementById("clave_lectura").value;
	  url = "<%=url_for :controller => 'visualizacion_lecturas',:action => 'exportar_csv' %>",
	  location.href= url +'?porcion=' + encodeURIComponent(porcion) + 
			 		              '&proceso=' + encodeURIComponent(proceso) +
                        '&zona=' + encodeURIComponent(zona) +
                        '&clave_lectura=' + encodeURIComponent(clave_lectura) +
                        '&empleado=' + encodeURIComponent(empleado);
  }
  
  // Muestra todas las porciones por oficina
  function mostrarPorciones() {
    var zona = document.getElementById("zona").value;
    $.ajax({
      url: "<%=url_for :controller => 'clientes_improcedentes',:action => 'cargar_porciones' %>",
      data: 'zona=' + encodeURIComponent(zona),
      cache: false,
      success: function(data) {}
    })
  }

  $(function(){
  	$('.pagination a').attr('data-remote', 'true')
	});
	
  //tooltip mensajes en los botones
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
