<div id="carga_filtro">
	<br>
		<div class="card">
			<div class="card-header"><b>Resultados de la Busqueda</b> <span class="mdi mdi-table-large"></span></div>
			<div class="card-body">
				<div class="table-responsive-sm">
					<table class="table table-striped table-hover table-sm table-bordered animated fadeIn fast">
						<thead>
							<tr>
								<th>Porción</th>
								<th>Comuna</th>
								<th>Lector</th>
								<th>Ruta</th>
								<th>Asignado</th>
								<% if !@header_hash.nil? %>
									<% @header_hash.each do |header| %>
										<% if header == 0%>
											<th>Pendientes</th>
										<% else %>
											<th>Cant. Intentos con <%= header%></th>
										<% end %>
									<% end %>
								<% else %>
									<th>Cant. Intentos con 1</th>
									<th>Cant. Intentos con 2</th>
									<th>Cant. Intentos con 3</th>
								<% end %>
							</tr>
						</thead>
						<tbody>
						<% if !@lista.nil? %>
							<% @lista.each do |l| %>
								<tr>
									<td><b><%= l[0] %></b></td>
									<td><b><%= l[1] %></b></td>
									<td><b><%= l[2] %></b></td>
									<td><b><%= l[3] %></b></td>
									<td><b><%= l[4]%></b></td>
									<% l[5].each do |intentos| %>
										<td><b><%= intentos %></b></td>
									<% end %>
								</tr>
							<% end %>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">

    //tooltip mensajes en los botones
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });

    // Exportar CSV
    function exportarExcel(){
        var zona = document.getElementById("Zona").value;
		var porcion = document.getElementById("Porcion").value;
		var tipo_lectura = document.getElementById("tipo_lectura").value;
		var empleado = document.getElementById("Empleado").value;
        url = "<%=url_for :controller => 'reporte_numero_intentos_lector',:action => 'exportar_excel' %>",
        location.href= url + '?zona=' + encodeURIComponent(zona)+ '&porcion=' + encodeURIComponent(porcion)
                   + '&tipo_lectura=' + encodeURIComponent(tipo_lectura) + '&empleado=' + encodeURIComponent(empleado);
    }

    // Exportar PDF
    function exportarPdf(){
        var zona = document.getElementById("Zona").value;
		var porcion = document.getElementById("Porcion").value;
		var tipo_lectura = document.getElementById("tipo_lectura").value;
		var empleado = document.getElementById("Empleado").value;
        url = "<%=url_for :controller => 'reporte_numero_intentos_lector',:action => 'exportar_pdf' %>",
        location.href= url + '?zona=' + encodeURIComponent(zona)+ '&porcion=' + encodeURIComponent(porcion)
                   + '&tipo_lectura=' + encodeURIComponent(tipo_lectura) + '&empleado=' + encodeURIComponent(empleado);
    }


</script>
