<div id="zonas">
  <% if !@zonas.nil?  %>
      <%=select_tag "Zona", options_from_collection_for_select(@zonas, "id", "codigo_nombre"),
                   :onchange => "mostrarPorciones();", :prompt=> "Seleccione" , :class => "custom-select custom-select-sm"%>
  <%else%>
      <select name="Zona" id="Zona"  class="custom-select custom-select-sm"><option value="">Seleccione</option></select>
  <%end%>
</div>

<!--
  # Funciones Js
-->
<script type="text/javascript">
    function mostrarPorciones() {
        var porcion = document.getElementById("Porcion").value;
        $.ajax({
            url: "<%=url_for :controller => 'importar_ordenes_lecturas',:action => 'carga_porciones' %>",
            data: 'porcion=' + encodeURIComponent(porcion),
            cache: false,
            success: function(data) {}
        })
    }
</script>

