<title>Importar O.L</title>
	<!-- # > BreadCrumb -->
		<div class="card">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
				<li class="breadcrumb-item">Lecturas </li>
				<li class="breadcrumb-item">Operaciones</li>
				<li class="breadcrumb-item active">Importar Ordenes de Lectura</li>
			</ol>
		</div>
		<br>
	<!-- # > Formulario Importar Lecturas -->
	<%= form_tag({controller: "importar_ordenes_lecturas", action: "import_csv"}, {:multipart => true, :method => :post}) do %>
		<div class="card">
      <div class="card-header">Agregar Ordenes <span class="mdi mdi-file-plus"> </span></div>
			<div class="card-body">
				<div class="row">
					<div class="col-md-5">
						<div class="row">
							<div class="col-md-12">
                  <label>Tipo Lecturas:</label>
                  <br>
                  <%=select_tag "Tipo_Lectura", options_from_collection_for_select(@tipolecturas, "id", "nombre"), :class =>"custom-select custom-select-sm"%>
                  <br>
                </div>
						</div>
					</div>
					<div class="col-md-7">
						<div class="card">
							<div class="card-header">
								Formatos soportados <b>CSV</b>
							</div>
							<div class="card-body">
								<%= file_field_tag :file%>
								<br>
								<%= button_tag(:class => "btn btn-success float-right col-md-4") do %>
									<span class="mdi mdi-database"></span>
									Importar a DB
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	<%end%> <!-- Fin Formulario -->
<br>

  <div class="card-header">Eliminar Ordenes <span class="mdi mdi-playlist-remove"></span></div>
    <div class="card">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"><br>
              <label> Eliminar Carga de Datos</label>
              <p>Cuidado... se eliminaran todas las ordenes de lectura cargadas en la fecha seleccionada.</p>
              <div class="form-inline">
                <%= label_tag ( "Fecha de Carga: ") %>
                <%= select_day(Date.today,{use_two_digit_numbers: true,field_name: 'dia-hasta'},{:class => 'custom-select custom-select-sm'})%>
                <%= select_month(Date.today, {use_month_names: %w(Enero Febrero Marzo Abril Mayo Junio Julio Agosto Septiembre Octubre Noviembre Diciembre),  field_name: 'mes-hasta'},{:class => 'custom-select custom-select-sm'}) %>
                <%= select_year(Date.today, {start_year: 1992, end_year: 2099, field_name: 'ano-hasta'},{:class => 'custom-select custom-select-sm'}) %>
                <button class="form-inline btn btn-danger btn-sm">Eliminar Carga Masiva</button>
              </div>
          </div>
        </div>
          <br>
        </div>
      </div>
    </div>
  </div>

<!-- # > Funciones JS  -->
<script>
	function cargarZonas(){
		var region= document.getElementById("Region").value;
		$.ajax({
			url: "<%=url_for :controller => 'importar_ordenes_lecturas',:action => 'carga_zonas' %>",
			data: 'region=' + encodeURIComponent(region),
			cache: false,
			success: function(data) {}
		})
	}


	function comprueba_extension(formulario, archivo) { 
		extensiones_permitidas = new Array(".gif", ".jpg", ".doc", ".pdf"); 
		mierror = ""; 
		if (!archivo) { 
				//Si no tengo archivo, es que no se ha seleccionado un archivo en el formulario 
					mierror = "No has seleccionado ningún archivo"; 
		}else{ 
				//recupero la extensión de este nombre de archivo 
				extension = (archivo.substring(archivo.lastIndexOf("."))).toLowerCase(); 
				//alert (extension); 
				//compruebo si la extensión está entre las permitidas 
				permitida = false; 
				for (var i = 0; i < extensiones_permitidas.length; i++) { 
					if (extensiones_permitidas[i] == extension) { 
					permitida = true; 
					break; 
					} 
				} 
				if (!permitida) { 
					mierror = "Comprueba la extensión de los archivos a subir. \nSólo se pueden subir archivos con extensiones: " + extensiones_permitidas.join(); 
					}else{ 
						//submito! 
					alert ("Todo correcto. Voy a submitir el formulario."); 
					formulario.submit(); 
					return 1; 
					} 
		} 
		//si estoy aqui es que no se ha podido submitir 
		alert (mierror); 
		return 0; 
	}
</script>