<div id="carga_filtro">
		<!-- # > Botones e Información -->	
	<div class="row">
		<div class="col-md-6 div-padding">
			<b>Detalles:</b><br>
			<ul>
				<li>Unidad de Lectura: 
			<% if !@lista_ordenes.nil? %>
				<%= @lista_ordenes.first.rutum.codigo %>
			<% end %>
		</li>
		<li>Cantidad de Ordenes:
				<% if !@lista_ordenes.nil? %>
					<%= label_tag @lista_ordenes.count %>
				<% end %>
		</li>
			</ul>
		</div>
		<div class="col-md-6">
			<b>Exportar:</b><br>
			<button class="btn btn-descargas btn-sm" onclick="exportarCsv();">
				<span class="mdi mdi-file-excel"></span>CSV</button>
			<button class="btn btn-descargas btn-sm" onclick="exportarPdf();">
				<span class="mdi mdi-file-excel"></span>PDF</button>
		</div>
	</div><br>
		
	<div class="card">
		<div class="card-header">
			<span class="mdi mdi-table"></span> <b>Impresión de Rutas</b>
		</div>
		<div class="card-body">
		
			<div class="table-responsive-sm">
				<table class="table table-sm table-hover table-striped table-bordered animated fadeIn fast">
					<thead>
						<tr>
							<th class="w-15">Ruta</th>
							<th>Codigo Orden</th>
							<th>Comuna</th>
							<th style="width: 25%">Cliente</th>
							<th >Nº Cliente</th>
							<th>Secuencia Lector</th>
							<th style="width: 20%">Dirección</th>
							<th>Nº Medidor</th>
							<th>Tipo Tarifa</th>
							<th>Color</th>
              <th>Lectura</th>
						</tr>
					</thead>
					<tbody>
						<% if !@lista_ordenes.nil?%>
							<% @lista_ordenes.each do |lista| %>
								<tr>
                  <td><%= lista.rutum.codigo %></td>
                  <td><%= lista.codigo%></td>
									<td><%= lista.comuna.nombre %></td>
									<td><%= lista.cliente.nombre %></td>
                  <td><b><%= lista.cliente.numero_cliente%></b></td>
									<td><b><%= lista.secuencia_lector %></td>
									<td><%= lista.direccion_orden %></td>
									<td><b><%= lista.medidor.numero_medidor%></b></td>
									<td><%= lista.factor_cobro.nombre %></td>
									<td><%= lista.color %></td>
                  <td></td>
								</tr>
							<% end %>
						<% end %>
					</tbody>
				</table>
				<!-- # > Paginacion  -->
			<div class="row h-100 justify-content-center align-items-center">
				<% if !@lista_ordenes.nil?%>
					<%= will_paginate @lista_ordenes, list_classes: %w(pagination align-center) %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
  //tooltip mensajes en los botones
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });

  // Exportar CSV
  function exportarCsv(){
    var zona = document.getElementById("Zona").value;
    var porcion = document.getElementById("Porcion").value;
    var proceso = document.getElementById("tipo_lectura").value;
    var ruta = document.getElementById("Ruta").value;
    url = "<%=url_for :controller => 'impresion_ruteros',:action => 'exportar_csv' %>",
		location.href= url + '?zona=' + encodeURIComponent(zona)+ '&porcion=' + encodeURIComponent(porcion)+ '&proceso=' + encodeURIComponent(proceso) + '&ruta=' + encodeURIComponent(ruta);
  }

	function exportarPdf(){
    var zona = document.getElementById("Zona").value;
    var porcion = document.getElementById("Porcion").value;
    var proceso = document.getElementById("tipo_lectura").value;
    var ruta = document.getElementById("Ruta").value;
    url = "<%=url_for :controller => 'impresion_ruteros',:action => 'exportar_pdf', :format => :pdf %>",
		location.href= url + '?zona=' + encodeURIComponent(zona)+ '&porcion=' + encodeURIComponent(porcion)+ '&proceso=' + encodeURIComponent(proceso) + '&ruta=' + encodeURIComponent(ruta);
  }
</script>
