<title>Impresión de Ruteros</title>
<div class="container-fluid">
		<div class="card">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
				<li class="breadcrumb-item">Lecturas </li>
				<li class="breadcrumb-item">Operaciones</li>
				<li class="breadcrumb-item active">Impresión de Rutas</li>
			</ol>
	</div><br>
	<div class="card">
		<div class="card-header"><span class="mdi mdi-magnify"></span> <b>Buscador</b></span></div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-4">
					<span class="mdi mdi-city"></span> <label>Oficina:</label>
					<%=select_tag "Zona", options_from_collection_for_select(@zonas, "id", "nombre"), :prompt=> "Seleccionar", :class => "custom-select custom-select-sm" , :onchange => 'cargarPorciones();'%>
				</div>
				<div class="col-md-3">
					<span class="mdi mdi-chart-pie"><label>Ciclo:</label>
					<%= render 'carga_porciones' %>
				</div>
				<div class="col-md-2">
					<span class="mdi mdi-animation"></span> <label >Proceso:</label>
					<%=select_tag "tipo_lectura", options_from_collection_for_select(@tipo_lectura, "id", "nombre"), :class => "custom-select custom-select-sm" %>
				</div>
				<div class="col-md-2">
					<span class="mdi mdi-file-document-box"></span> <label>Ruta:</label>
					<%= render 'carga_rutas' %>
				</div>
				<div class="col-md-1">
					<br>
					<button type="button" onclick="cargarFiltro();" class="btn btn-success form-control" data-toggle="tooltip" data-placement="top" title="Buscar"><span class="mdi mdi-magnify"></span></button>
				</div>
		</div>
	</div>
	</div>
</div>
<br>
<div class="container-fluid">
	<%= render 'carga_filtro' %>
</div>

<script class="text/javascript">
	$(function () {
		$('[data-toggle="tooltip"]').tooltip()
	})
	function cargarFiltro() {
		var zona = document.getElementById("Zona").value;
		var porcion = document.getElementById("Porcion").value;
		var proceso = document.getElementById("tipo_lectura").value;
		var ruta = document.getElementById("Ruta").value;
		$.ajax({
			url: "<%=url_for :controller => 'impresion_ruteros',:action => 'carga_filtro' %>",
			data: 'zona=' + encodeURIComponent(zona)+ "&" + 'porcion=' + encodeURIComponent(porcion)+ "&" + 'proceso=' + encodeURIComponent(proceso)+ "&" + 'ruta=' + encodeURIComponent(ruta),
      cache: false,
      success: function(data) {}
    })
	}

	function cargarPorciones() {
		var zona = document.getElementById("Zona").value;
		$.ajax({
    	url: "<%=url_for :controller => 'impresion_ruteros',:action => 'carga_porciones' %>",
      data: 'zona=' + encodeURIComponent(zona),
      cache: false,
      success: function(data) {}
    })
	}

	function cargarRutas() {
		var porcion = document.getElementById("Porcion").value;
		$.ajax({
    	url: "<%=url_for :controller => 'impresion_ruteros',:action => 'carga_rutas' %>",
      data: 'porcion=' + encodeURIComponent(porcion),
      cache: false,
      success: function(data) {}
    })
	}

</script>
