<div id="carga_porciones">
	<% if !@porciones.nil?  %>
		<%=select_tag "Porcion", options_from_collection_for_select(@porciones, "id", "codigo"),
			:prompt=> "Todos", :onchange => "mostrar_dudosos();", :class => "custom-select custom-select-sm"%>
	<%else%>
	  	<select name="Porcion" id="Porcion" class="custom-select custom-select-sm" ><option value="">Todos</option>></select>
	<%end%>
</div>	
<script>
	
	function cargaRutas() {
		var porcion = document.getElementById("Porcion").value;
		$.ajax({
    	url: "<%=url_for :controller => 'analisis',:action => 'carga_rutas' %>",
      data: 'porcion=' + encodeURIComponent(porcion),
      cache: false,
      success: function(data) {}
    })
  }
</script>
