<div id="zonas">
	<% if !@zonas.nil?  %>
		<%=select_tag "Zona", options_from_collection_for_select(@zonas, "id", "codigo_nombre"),
			:onchange => "cargarPorciones();cargarLectores(); cargarComunas();", :prompt=> "Seleccionar Todos" , :class => "custom-select custom-select-sm" %>
	<%else%>
		<select name="Zona" id="Zona"  class="custom-select custom-select-sm"><option value="">Seleccionar Todos</option></select>
	<%end%>
</div>


<script type="text/javascript">
	function cargarPorciones() {
		var zona = document.getElementById("Zona").value;
		$.ajax({
    	url: "<%=url_for :controller => 'analisis',:action => 'carga_porciones' %>",
      data: 'zona=' + encodeURIComponent(zona),
      cache: false,
      success: function(data) {}
    })
  }

  function cargarComunas(){
      var zona = document.getElementById("Zona").value;
      $.ajax({
          url:"<%=url_for :controller => 'analisis',:action => 'carga_comunas' %>",
          data:'zona=' + encodeURIComponent(zona),
          cache:false,
          success:function (data) {
          }
      })
  }

	function cargarLectores() {
		var zona = document.getElementById("Zona").value;
		$.ajax({
    	url: "<%=url_for :controller => 'analisis',:action => 'carga_lectores' %>",
      data: 'zona=' + encodeURIComponent(zona),
      cache: false,
      success: function(data) {}
    })
    }
</script>