<div id="dudosos_min">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header"><span class="mdi mdi-table-large"></span> <b>Clientes Improcedentes</b></div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped table-hover table-sm table-bordered animated fadeIn fast">
            <thead>            
              <tr>
              <th><span class="mdi mdi-settings"></span> Acciones</th>
              <th class="w-50">Nombre</th>
              <th>Número Cliente</th>
              <th>Medidor</th>
              <th>Ruta</th>
              <th>Tarifa</th>
              <th>Lect. Activa</th>
              <th>Lec. Reactiva</th>
              <th>Hora Punta Encontrada</th>
              <th>Hora Punta Dejada</th>
              <th>Hora</th>
              <th>Fecha</th>
              <th>Fuera Punta Encontrada</th>
              <th>Fuera Punta Dejada</th>
              <th>Reset</th>
              <th>Nº Sello Encontrado</th>
              <th>Nº Sello dejado</th>
              <th>Clave Lectura</th>
              <th>Lector</th>
              <th>Fecha</th>
              <th>Observación Lector</th>
            </tr>
            </thead>
            <% if !@ordenLecturas.nil? %>
              <% @ordenLecturas.each do |orden_lectura| %>
                <tbody>
                  <tr>    
                    <td>
                        <button onclick="mostrarModalFotografia('<%= orden_lectura.id%>');" class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="bottom" title="Ver Fotografia">
                          <span class="mdi mdi-camera"></span>
                        </button>
                    </td>
                      <!-- <td>
                        <button onclick="mostrarModalReleer('<%= orden_lectura.id%>');" type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="Verificar">
                          <span class="mdi mdi-backspace" style="color: #ffffff;"></span>
                        </button>
                      </td>
                      <td>
                        <button onclick="mostrarMlectura('<%= orden_lectura.id%>');" type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Modificar Lectura">
                          <span class="mdi mdi-tooltip-edit" style="color:white"></span>
                        </button>
                      </td>
                      <td>
                        <button onclick="aprobarOrden('<%= orden_lectura.id%>');" type="button" class="btn btn-info btn-sm" style="border:none" data-toggle="tooltip" data-placement="top" title="Aprobar Orden">
                          <span class="mdi mdi-clipboard-check mdi-12" style="color:white"></span>
                        </button>
                      </td> -->
                    <td><%= orden_lectura.cliente.nombre %></td>
                    <td><%= orden_lectura.cliente.numero_cliente%></td>
                    <td><%= orden_lectura.medidor.numero_medidor%></td>
                    <td><%= orden_lectura.rutum.codigo%></td>
                    <td><b><%= orden_lectura.factor_cobro.nombre %></b></td>
                    <td><b><%= orden_lectura.detalle_orden_lectura.first.lectura_actual %></b></td>
                    <% if orden_lectura.factor_cobro.nombre == "BT1" %>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    <% end %>
                    <% if orden_lectura.factor_cobro.nombre == "BT2" %>
                      <td><b><%=orden_lectura.detalle_orden_lectura.second.lectura_actual %></b></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    <% end %>
                    <% if orden_lectura.factor_cobro.nombre == "BT3" %>
                      <td><b><%=orden_lectura.detalle_orden_lectura.second.lectura_actual %></b></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[2].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[3].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[4].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[5].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[6].lectura_actual %></b></td>
                    <% end %>
                    <% if orden_lectura.factor_cobro.nombre == "BT43" %>
                      <td><b><%=orden_lectura.detalle_orden_lectura[1].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[2].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[3].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[7].lectura_actual %></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[6].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[4].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[5].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[8].lectura_actual %></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[9].lectura_actual %></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[10].lectura_actual %></td>
                    <% end %>
                    <% if orden_lectura.factor_cobro.nombre == "AT2" %>
                      <td><b><%=orden_lectura.detalle_orden_lectura[1].lectura_actual %></b></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    <% end %>
                    <% if orden_lectura.factor_cobro.nombre == "AT3" %>
                      <td><b><%=orden_lectura.detalle_orden_lectura[1].lectura_actual %></b></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[2].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[3].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[4].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[5].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[6].lectura_actual %></b></td>
                    <% end %>
                    <% if orden_lectura.factor_cobro.nombre == "AT43" %>
                      <td><b><%=orden_lectura.detalle_orden_lectura[1].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[2].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[3].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[7].lectura_actual %></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[6].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[4].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[5].lectura_actual %></b></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[8].lectura_actual %></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[9].lectura_actual %></td>
                      <td><b><%=orden_lectura.detalle_orden_lectura[10].lectura_actual %></td>
                    <% end %>
                    <% if !orden_lectura.detalle_orden_lectura.first.clave_lectura.nil? %>
                      <td><b><%= orden_lectura.detalle_orden_lectura.first.clave_lectura.nombre%></b></td>
                     <% else %>
                      <td></td>
                    <% end %>
                    <% if !orden_lectura.asignacion.nil? %>
                      <td><b><%= orden_lectura.asignacion.empleado.nombre_completo%></b></td>
                    <% else %>
                      <td></td>
                    <% end %>
                    <% if !orden_lectura.detalle_orden_lectura.first.fecha_ejecucion.blank? %>
                      <td><b><%= orden_lectura.detalle_orden_lectura.first.fecha_ejecucion.strftime('%e/%m/%Y %I:%M:%S %p') %></b></td>
                    <% else %>
                      <td></td>
                    <% end %>
  
                    <td><b><%= orden_lectura.observacion %></b></td>
                  </tr>
                </tbody>
            <% end%>
          <%end%>
          </table>
        </div>
      </div>
      <div id="will_paginate_id" class="row h-100 justify-content-center align-items-center">
        <% if !@ordenLecturas.nil?%>
          <%= will_paginate @ordenLecturas %> <br>
        <% end %>
      </div>
      <br>
    </div>
  </div>
</div>

<!-- Visualización de Fotografias -->
<div id="modalUno">
  <div id="modalFotografia" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div class="card">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
              <li class="breadcrumb-item">Lectura </li>
              <li class="breadcrumb-item">Análisis Online </li>
              <li class="breadcrumb-item"><%=link_to 'Clientes Dudosos Maximos y Minimos', lectura_analisis_online_clientes_dudosos_path%></li>
              <li class="breadcrumb-item active">Fotografias</li>
            </ol>
          </div>
          <br>
          <%= render 'operaciones/ver_fotografia' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modificar Lectura Actual -->
<div id="modalTres">
  <div id="modalMlectura" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <div class="card">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
              <li class="breadcrumb-item">Lecturas </li>
              <li class="breadcrumb-item">Análisis Online </li>
              <li class="breadcrumb-item"><%=link_to 'Clientes Dudosos Máximos y Mínimos'%></li>
              <li class="breadcrumb-item active">Modificar Lectura</li>
            </ol>
          </div>
          <br>
          <%= render 'modificar_lectura'%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Verificación de Lecturas -->
<div id="modalDos">
  <div id="modalReleer" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content" >
        <div class="modal-body">
          <div class="card">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
              <li class="breadcrumb-item">Lecturas </li>
              <li class="breadcrumb-item">Análisis Online </li>
              <li class="breadcrumb-item"><%=link_to 'Clientes Dudosos Máximos y Mínimos', lectura_analisis_online_clientes_dudosos_path%></li>
              <li class="breadcrumb-item active">Verificación de Lectura</li>
            </ol>
          </div>
          <br>
          <%= render 'releer' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>



  <div class="container">
    <%= render 'relectura' %>
  </div>
  <div class="container">
    <%= render 'autoriza_facturacion' %>
  </div>
<script type="text/javascript">

  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
  
  function mostrarMlectura(orden_id){
    $.ajax({
      url:"<%=url_for :controller => 'analisis',:action => 'modificar_lectura' %>",
      data:'id_orden=' + encodeURIComponent(orden_id),
      cache:false,
      success:function (data) {}
    })
    $('#modalMlectura').modal();
  }

  function mostrarModalFotografia(orden_id){
    $.ajax({
      url:"<%=url_for :controller => 'operaciones',:action => 'ver_fotografia' %>",
      data:'id_orden=' + encodeURIComponent(orden_id),
      success:function (data) {}
    })
    $('#modalFotografia').modal();
  }

  function mostrarModalReleer(orden){
    var analisis = 0;
    $.ajax({
      url:"<%=url_for :controller => 'analisis',:action => 'releer' %>",
      data:'orden=' + encodeURIComponent(orden)+ "&" + 'analisis=' + encodeURIComponent(analisis),
      cache:false,
      success:function (data) {}
    })
    $('#modalReleer').modal();
  }

  function autoriza_facturacion(orden_id){
		$.ajax({
	        url:"<%=url_for :controller => 'analisis',:action => 'autoriza_facturacion' %>",
	        data:'orden_id=' + encodeURIComponent(orden_id) + "&analisis=1",
	        cache:false,
	        success:function (data) {}
	  })
	}
</script>
