<div id="modificar_lectura">
	<div class="row">
		<div class="col-md-2"></div>
	  <div class="col-md-8">
	  	<label for="">Lectura Actual:</label><br>
	  	<% if !@orden_lectura.nil? %>
	    	<input type="text" id="Lectura" name="Lectura" value="<%=@orden_lectura.lectura_actual%>" class="form-control">
	    	<br>
	      <button onclick="guardar_lectura('<%= @orden_lectura.id %>');"  type="button" class="btn btn-primary float-right" required="true">Guardar <span class="mdi mdi-content-save"></span> </button>
	    <% end %>
	   </div>
	   <div class="col-md-2"></div>
	</div>
</div>

<!-- # > Funciones JS -->
<script type="text/javascript">
	// > Guarda la nueva lectura actual...
	function guardar_lectura(id){
		var lectura = document.getElementById("Lectura").value;
    $.ajax({
      url:"<%=url_for :controller => 'analisis',:action => 'guardar_lectura' %>",
      data:'lectura=' + encodeURIComponent(lectura) + '&id=' + encodeURIComponent(id),
      cache:false,
      success:function (data) {}
    })

    $('#modalMlectura').modal('hide');

    try {
        var tiempo = setTimeout(mostrar_dudosos, 3000);
		}
		catch(err) {
		}

		try {
        var tiempo = setTimeout(mostrar_improcedentes, 3000);
    }
		catch(err) {
		}
  }

</script>