<div id="relectura">
	<% if !@completado.nil? %>
		<!--Carga Filtro Dudosos Maximos-->
		<% if (@completado.first[0] == 1) then %>
			<div>
				<script>
					$('#modalReleer').modal('hide'); 
					alert("Relectura Completada Exitosamente");

          try {
              var tiempo = setTimeout(mostrar_dudosos, 3000);
          }
          catch(err) {
          }

          try {
              var tiempo = setTimeout(mostrar_improcedentes, 3000);
          }
          catch(err) {
          }

				</script>
			</div>
		<% end %>
	<%end%>
</div>