<title>Visualización de Lecturas</title>
  <div class="card">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
      <li class="breadcrumb-item">Lectura </li>
      <li class="breadcrumb-item">Análisis Online </li>
      <li class="breadcrumb-item active">Visualización de Lecturas</li>
    </ol>
  </div>
  <br>
  <div class="card">
    <div class="card-header"><b>Buscador</b> <span class="mdi mdi-magnify"></span></div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2">
              <label>Oficina:</label><br>
              <%=select_tag "Zona", options_from_collection_for_select(@zonas, "id", "nombre"),
                            :onchange => "mostrarPorciones();mostrar_dudosos();", :prompt=> "Seleccione", :class =>"custom-select custom-select-sm"%>

            </div>
            <div class="col-md-W">
              <label>Ciclo:</label><br>
              <%= render 'carga_porciones' %>
            </div>
            <div class="col-md-2">
              <label>Lectura:</label>
              <%=select_tag "Tipo Lectura", options_from_collection_for_select(@tipo_lecturas, "id", "nombre"),:class =>"custom-select custom-select-sm", :onchange => "mostrar_dudosos();"%>
            </div>
            
            <div class="col-md-1">
              <br>
              <button type="button" class="btn btn-success form-control " onclick="mostrar_dudosos();" data-toggle="tooltip" data-placement="right" title="Buscar">
                <span class="mdi mdi-magnify"></span>
              </button>
            </div>
          </div>
         
        </div>
      </div>
		</div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6 div-padding">
      <b>Exportar:  </b>
      <button onclick="exportarCsv()" class="btn btn-csv btn-sm">
        <span class="mdi mdi-file-excel"></span>CSV</button>
    </div>
  </div><br>
<br>

<div class="carga_dudosos">
	<%= render partial: 'carga_dudosos'%>
</div>

<!-- # > Funciones JS -->
<script type="text/javascript">
	
  $(function(){
  	$('.pagination a').attr('data-remote', 'true')
	});
	
	//tooltip mensajes en los botones
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });

  // Carga todas las ordenes dudosas
	function mostrar_dudosos(){
    var zona = document.getElementById("Zona").value;
		var porcion = document.getElementById("Porcion").value;
		var proceso = document.getElementById("Tipo_Lectura").value;


	  $.ajax({
	  	url:"<%=url_for :controller => 'analisis',:action => 'carga_dudosos' %>",
	    data:'porcion=' + encodeURIComponent(porcion) + "&" +
			 		 'proceso=' + encodeURIComponent(proceso) + "&" + 
           'zona=' + encodeURIComponent(zona),
	    cache:false,
	    success:function (data) {}
	  })
	}

  function exportarCsv(){
    var zona = document.getElementById("Zona").value;
		var porcion = document.getElementById("Porcion").value;
		var proceso = document.getElementById("Tipo_Lectura").value;
	  url = "<%=url_for :controller => 'analisis',:action => 'exportar_lecturas_csv' %>",
	  location.href= url +'?porcion=' + encodeURIComponent(porcion) + 
			 		              '&proceso=' + encodeURIComponent(proceso) +
                        '&zona=' + encodeURIComponent(zona);
  }
  
  

  
  // Muestra todas las porciones por oficina
  function mostrarPorciones() {
      var zona = document.getElementById("Zona").value;
      $.ajax({
          url: "<%=url_for :controller => 'analisis',:action => 'carga_porciones' %>",
          data: 'zona=' + encodeURIComponent(zona),
          cache: false,
          success: function(data) {}
      })
  }
 
  function cargarLectores() {
		var zona = document.getElementById("Zona").value;
		$.ajax({
    	url: "<%=url_for :controller => 'analisis',:action => 'carga_lectores' %>",
      data: 'zona=' + encodeURIComponent(zona),
      cache: false,
      success: function(data) {}
    })
  }
</script>
