<title>Análisis de Consumos Improcedentes</title>
<div class="container-fluid">
	<div class="card">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to '<i class="mdi mdi-home"></i>'.html_safe, { :action => "index", :controller => :bienvenida }%></span></li>
      <li class="breadcrumb-item">Lectura </li>
      <li class="breadcrumb-item">Análisis Online </li>
      <li class="breadcrumb-item active">Clientes Improcedentes</li>
    </ol>
	</div>
  <br>
  <div class="card">
    <div class="card-header"><span class="mdi mdi-magnify"></span> <b>Buscador</b></div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-2">
              <span class="mdi mdi-city"></span> <label>Oficina:</label><br>
              <%=select_tag "Zona", options_from_collection_for_select(@zonas, "id", "nombre"),
                            :onchange => "mostrarPorciones();", :prompt=> "Seleccione", :class =>"custom-select custom-select-sm"%>

            </div>
            <div class="col-md-2">
              <span class="mdi mdi-chart-pie"></span> <label>Ciclo:</label><br>
              <%= render 'carga_porciones' %>
            </div>
            <div class="col-md-2">
              <span class="mdi mdi-animation"></span><label>Proceso:</label>
              <%=select_tag "Tipo Lectura", options_from_collection_for_select(@tipo_lecturas, "id", "nombre"),:class =>"custom-select custom-select-sm"%>
            </div>
            <div class="col-md-1">
              <br>
              <button type="button" class="btn btn-success form-control " onclick="mostrar_dudosos();" data-toggle="tooltip" data-placement="right" title="Buscar">
                <span class="mdi mdi-magnify"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div>
<%= render 'carga_improcedentes' %>
</div>


<!-- # > Funciones JS -->
<script type="text/javascript">

  function mostrar_dudosos(){
    var zona = document.getElementById("Zona").value;
    var porcion = document.getElementById("Porcion").value;
    var proceso = document.getElementById("Tipo_Lectura").value;
    $.ajax({
      url:"<%=url_for :controller => 'analisis',:action => 'carga_improcedentes' %>",
      data:'porcion=' + encodeURIComponent(porcion) + "&" +
           'zona=' + encodeURIComponent(zona) + "&" +
           'proceso=' + encodeURIComponent(proceso),
      cache:false,
      success:function (data) {}
    })
  }
    $(function(){
        $('.pagination a').attr('data-remote', 'true')
    });

    //tooltip mensajes en los botones
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });

    function mostrarPorciones() {
        var zona = document.getElementById("Zona").value;
        $.ajax({
            url: "<%=url_for :controller => 'analisis',:action => 'carga_porciones' %>",
            data: 'zona=' + encodeURIComponent(zona),
            cache: false,
            success: function(data) {}
        })
    }
</script>

