<div class="fixed-top navbar navbar-light bg-light navbar-static-top navbar-expand-md">
  <div class="container">
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">☰</button>
      <%= link_to (image_tag 'aguas_andinas_logo.png',:width => 70, :height => 60), {controller: "bienvenida", action: "index",:class => "navbar-brand"} %>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          <li class="dropdown menu-large nav-item"> <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><b>Lecturas</b> </a>
              <ul class="dropdown-menu megamenu">
                  <div class="row">
                  <li class="col-md-3 dropdown-item">
                      <ul>
                          <li class="dropdown-header">Catastros</li>
                          <div class="dropdown-divider"></div>
                          <li><%=link_to "Perfiles", catastro_perfiles_path, :class => "dropdown-item" %></li>
                          <li><%=link_to "Administrativos", catastro_empleados_administrativos_path, :class => "dropdown-item" %></li>
                          <li><%=link_to "Agentes de Terreno", catastro_empleados_agentes_terreno_path, :class => "dropdown-item" %></li>
                          <div class="dropdown-divider"></div>
                          <li><%=link_to "Claves de lectura", catastro_clave_lecturas_path, :class => "dropdown-item" %></li>
                          <li><%=link_to "Observaciones", observaciones_path, :class => "dropdown-item" %></li>
                      </ul>
                  </li>
                  <li class="col-md-3 dropdown-item">
                      <ul>
                          <li class="dropdown-header">Operaciones</li>
                          <div class="dropdown-divider"></div>

                          <li><%=link_to 'Importar Ordenes de lectura'.html_safe,lectura_operaciones_importar_ordenes_lectura_path,:class => "dropdown-item" %></li>
                          <!-- <div class="dropdown-divider"></div> -->
                          <li><%=link_to 'Asignación de Libreta de O.L'.html_safe, lectura_operaciones_asignacion_lecturas_path,:class => "dropdown-item" %></li>
                          <li><%=link_to 'Impresión de Libreta de O.L'.html_safe, lectura_operaciones_impresion_ruteros_path,:class => "dropdown-item"%></li>
                          <div class="dropdown-divider"></div>
                          <li><%=link_to 'Monitoreo de Lectores en Terreno'.html_safe, lectura_operaciones_monitor_lectores_path,:class => "dropdown-item"%></li>
                          <!-- <div class="dropdown-divider"></div> -->
                          <!-- <li><%=link_to 'Cerrar Procesos'.html_safe, lectura_operaciones_cerrar_procesos_lecturas_path,:class => "dropdown-item"%></li> -->
                          <!-- <li><%=link_to 'Exportar Procesos'.html_safe, exportar_ordenes_lectura_index_path,:class => "dropdown-item"%></li> -->
                      </ul>
                  </li>
                  <li class="col-md-3 dropdown-item">
                      <ul>
                          <li class="dropdown-header">Análisis Online</li>
                          <!-- <li><%=link_to 'Lectura Dictada Por Cliente'.html_safe,lectura_analisis_online_lectura_dictada_cliente_path,:class => "dropdown-item"%></li> -->
                          <div class="dropdown-divider"></div>
                          <li><%=link_to 'Visualización de Lecturas'.html_safe, visualizacion_lecturas_path,:class => "dropdown-item"%></li>
                          <li><%=link_to 'Clientes Improcedentes'.html_safe, lectura_analisis_online_clientes_improcedentes_path,:class => "dropdown-item"%></li>
                          <div class="dropdown-divider"></div>
                          <li><%=link_to 'Histórico de Lecturas de un Cliente'.html_safe, lectura_analisis_online_historico_lecturas_path,:class => "dropdown-item"%></li>
                          <li><%= link_to 'Reporte Visitas', reporte_visitas_path, :class => "dropdown-item"%></li>
                          <div class="dropdown-divider"></div>
                          <li><%= link_to 'Ajustar Ubicación GPS', ajuste_ubicacion_index_path, :class => "dropdown-item"%></li>
                          <!-- <li><%= link_to 'Visualización de Lecturas', lectura_analisis_online_visualizacion_lecturas_path, :class => "dropdown-item"%></li> -->
                          <!-- <li><%=link_to 'Clientes Pendientes de Verificación'.html_safe,lectura_analisis_online_clientes_pendientes_verificacion_path,:class => "dropdown-item"%></li> -->
                      </ul>
                  </li>
                  <li class="col-md-3 dropdown-item">
                      <ul>
                          <li class="dropdown-header">Reportes</li>
                          <div class="dropdown-divider"></div>

                          <!--<li><%=link_to 'Efectividad de Procesos'.html_safe,lectura_reportes_efectividad_procesos_path,:class => "dropdown-item"%></li>-->
                          <li><%=link_to 'Efectividad por Ciclo'.html_safe,lectura_reportes_efectividad_porcion_path,:class => "dropdown-item"%></li>
                          <!-- <li><%=link_to 'Efectividad por Lector'.html_safe,lectura_reportes_efectividad_lector_path,:class => "dropdown-item"%></li> -->
                          <div class="dropdown-divider"></div>
                          <!--<li><%=link_to 'Control de Folios Casa Cerrada'.html_safe,lectura_reportes_casa_cerrada_path,:class => "dropdown-item"%></li>-->
                          <li><%=link_to 'Coordenadas GPS'.html_safe,lectura_reportes_control_coordenadas_gps_path,:class => "dropdown-item"%></li>
                          <li><%=link_to 'Horas por Lector'.html_safe,lectura_reportes_control_horas_lector_terreno_path,:class => "dropdown-item"%></li>

                          <div class="dropdown-divider"></div>
                          <!-- <li><%=link_to 'Números de Intentos de Ingreso de Lectura'.html_safe,lectura_reportes_numero_intentos_lector_path,:class => "dropdown-item"%></li> -->
                          <!-- <li><%=link_to 'Tipo de Claves de Lectura'.html_safe,lectura_reportes_tipos_claves_path,:class => "dropdown-item"%></li> -->
                          <div class="dropdown-divider"></div>
                           <!-- <li><%=link_to 'Llenado de Estanques'.html_safe,lectura_reportes_llenado_estanques_path,:class => "dropdown-item"%></li> -->
                          <!-- <li><%=link_to 'Clientes con "N" Veces sin Lectura Efectiva'.html_safe,reporte_nveces_sinlecturaefectiva_index_path,:class => "dropdown-item"%></li> -->
                      </ul>
                  </li>
                </div>
            </ul>
          </li>
        

          
          <!-- <li class="dropdown menu-large nav-item"> <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><b>Facturación</b> </a>
            <ul class="dropdown-menu megamenu">
                <div class="row">
                <li class="col-md-3 dropdown-item">
                    <ul>
                        <li class="dropdown-header">Emitir Documentos</li>
                        <div class="dropdown-divider"></div>
                        <li><%=link_to "Emitir documento Adv." %></li>
                        <li><%=link_to "Emitir cesión" %></li>
                        <div class="dropdown-divider"></div>
                        <li><%=link_to "Notas Credito/Debito" %></li>
                    </ul>
                </li>
                <li class="col-md-3 dropdown-item">
                    <ul>
                        <li class="dropdown-header">Preparar Libros</li>
                        <div class="dropdown-divider"></div>
                        <li><%=link_to "Rectificar libro compras" %></li>
                        <li><%=link_to "Rectificar libro ventas" %></li>
                        <div class="dropdown-divider"></div>
                        <li><%=link_to "Crear libro compra" %></li>
                        <li><%=link_to "Crear libro venta" %></li>
                    </ul>
                </li>
                <li class="col-md-3 dropdown-item">
                    <ul>
                        <li class="dropdown-header">Ver Documentos</li>
                        <div class="dropdown-divider"></div>
                        <li><%=link_to "Documentos emitidos" %></li>
                        <li><%=link_to "Documentos recibidos" %></li>
                        <div class="dropdown-divider"></div>
                        <li><%=link_to "Folios disponibles" %></li>

                    </ul>
                </li>
                <li class="col-md-3 dropdown-item">
                    <ul>
                        <li class="dropdown-header">Enviar</li>
                        <div class="dropdown-divider"></div>
                        <li><%=link_to "Documentos a clientes" %></li>
                        <div class="dropdown-divider"></div>
                        <li><%=link_to "Aceptación / Reclamo de Documentos" %></li>

                    </ul>
                </li>
                </div>
                </ul>
        </li> -->
        <li class="dropdown menu-large nav-item"> <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><b>Soporte</b> </a>
            <ul class="dropdown-menu megamenu">
                <div class="row">
                <li class="col-md-3 dropdown-item">
                    <ul>
                        <li class="dropdown-header">Inventarios</li>
                        <li><%=link_to 'Empleados', empleados_path, :class => "dropdown-item"%></li>
                        <li><%=link_to 'Equipos', empleados_path, :class => "dropdown-item"%></li>
                        <li><%=link_to 'Marcas', empleados_path, :class => "dropdown-item"%></li>
                        <li><%=link_to 'Modelos', empleados_path, :class => "dropdown-item"%></li>
                    </ul>
                </li>
                <!--<li class="col-md-3 dropdown-item">
                    <ul>
                      <li class="dropdown-header">Inventarios Facturación</li>
                      <li class="dropdown-header">Registrar</li>
                      <li><%=link_to "Folios" %></li>
                      <li><%=link_to "Clientes / Proveedores" %></li>    
                      <li><%=link_to "Articulos" %></li>                    
                      <li><%=link_to "Configurar Copias DTE" %></li>                    
                    </ul>
                </li> -->
                <li class="col-md-3 dropdown-item">
                    <ul>
                        
                    </ul>
                </li>
                <li class="col-md-3 dropdown-item">
                    <ul>
                      <li class="dropdown-header">Descargas</li>
                      <li><%=link_to 'Manual Usuario WEB', {:controller => "bienvenida", :action => "descargar_manual_web"}, :class => "dropdown-item" %></li>
                      <li><%=link_to 'Manual Usuario APP', {:controller => "bienvenida", :action => "descargar_manual_app"}, :class => "dropdown-item" %></li> 
                    </ul>
                </li>
                </div>
                </ul>
        </li>
          </ul>
          <ul class="navbar-nav ml-auto" >
      
              <li class="nav-item dropdown float-left">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= current_usuario.email%> <span class="mdi mdi-account-circle mdi-18px"></span>
                  </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <%=link_to 'Cerrar Sesión', destroy_usuario_session_path, method: :delete, :class => "dropdown-item" %>
                </div>
              </li>
            </ul>
      </div>
  </div>
</div>