<div class="fixed-top navbar navbar-light bg-light navbar-static-top navbar-expand-md">
  <div class="container">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">☰</button>
    <%= link_to (image_tag 'logo_chilquinta_gris.jpg',:width => 70, :height => 60), {controller: "bienvenida", action: "index",:class => "navbar-brand"} %>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown menu-large nav-item"> <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Lecturas </a>
          <ul class="dropdown-menu megamenu">
            <div class="row">
              <li class="col-md-4 dropdown-item">
                <ul>
                  <li class="dropdown-header">Atención Clientes</li>
                  <li><%=link_to 'Lectura Dictada Por Cliente'.html_safe,lectura_analisis_online_lectura_dictada_cliente_path,:class => "dropdown-item"%></li>
                  <div class="dropdown-divider"></div>
                  <li><%=link_to 'Histórico de Lecturas de un Cliente'.html_safe, lectura_analisis_online_historico_lecturas_path,:class => "dropdown-item"%></li>
                </ul>
              </li>
            </div>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" >

        <li class="nav-item dropdown float-left">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_usuario.email%> <span class="mdi mdi-account-circle mdi-18px"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%=link_to 'Cerrar Sesión', destroy_usuario_session_path, method: :delete, :class => "dropdown-item" %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>